[2019-01-31 04:03] tesseralis opened #1 "Translate the glossary"

[2019-01-31 18:41] tesseralis opened #4 "[OLD] Legacy Spanish Translation Progress"
# 🚨 Please Read this before contributing 🚨

## Maintainer List

- @alejandronanez
- @carburo
- @dmoralesm
- @Darking360

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below. Do not create new issues claiming for new work please, let's keep everything here. If you already have an issue opened, please close it after your P

[2019-01-31 20:08] alejandronanez opened #6 "Translate Hello World"

[2019-01-31 20:08] shmesa22 commented on #4
I would like to work on Introducing JSX

[2019-01-31 20:09] alejandronanez commented on #6
Related to #4 and #5

[2019-01-31 20:10] alejandronanez opened #7 "Translate: Introducing JSX"
Relates to #4

[2019-01-31 20:11] alejandronanez commented on #4
Hey @shmesa22, I updated the description with your name on it! Thanks for helping us! 👍

Introducing JSX is issue https://github.com/reactjs/es.reactjs.org/issues/7

Let us know if you have any questions!

[2019-01-31 20:20] icarlossz commented on #7
I made a PR #8

[2019-01-31 20:22] icarlossz commented on #4
Hey @shmesa22, I didn't see your comment and I started with that one. Sorry.

[2019-01-31 20:32] EzequielMonforte commented on #4
Hi. I want to work on Components and Props

[2019-01-31 20:40] shmesa22 commented on #4
@icarlossz, no worries. I haven't started working on it, I can take another one

[2019-01-31 20:41] shmesa22 commented on #4
I would like to work on Rendering Elements then

[2019-01-31 21:08] tesseralis commented on #4
@shmesa22 @EzequielMonforte are you able to edit the issue to add your name on it?

[2019-01-31 21:30] carburo opened #11 "Translate: State and Lifecycle"
Related to #4 and #62

[2019-01-31 21:30] shmesa22 opened #12 "Translate: Rendering Elements"
Translate Rendering Elements page in docs

[2019-01-31 21:32] shmesa22 commented on #4
Hi @tesseralis, I was able to create the issue, but not to assign it to me

[2019-01-31 21:32] shmesa22 commented on #4
Hi everyone, any thoughts or any good translation for `callback`?

[2019-01-31 21:32] sergiodxa commented on #4
I would like to work in `Thinking in React`

[2019-01-31 21:36] sergiodxa commented on #4
@shmesa22 I'm not sure there is a good translation for that, the correct one would be `llamar de vuelta", maybe paraphrasing it it could fit in the sentence, however `callback` is a word commonly used in Spanish communities too so it may be an option avoid translating it.

[2019-01-31 21:36] sergiodxa opened #13 "Translate: Thinking in React"

[2019-01-31 21:38] EzequielMonforte opened #14 "Translate: Components and Props"
Translate components and props

[2019-01-31 21:42] shmesa22 commented on #12
A PR related to this issue is open and ready for review.

[2019-01-31 21:45] shmesa22 commented on #4
Thank you @sergiodxa, that's what I was thinking. I left it like that.

Also, I would like to start working on handling events.

[2019-01-31 21:46] tesseralis commented on #4
@shmesa22 Once it's done, we should have the glossary as a reference on how to translate common terms. @dmoralesm how is that progress going?

[2019-01-31 21:50] shmesa22 opened #15 "Translate: Handling Events"

[2019-01-31 21:54] shmesa22 commented on #4
@tesseralis any way we can add or recommend words for the glossary?

[2019-01-31 21:55] sergiodxa commented on #4
who is going to create the glossary? what's the criteria?

[2019-01-31 21:57] tesseralis commented on #4
@shmesa22 The original English glossary or the Spanish version? The Spanish docs should just be translation of the English version.

@sergiodxa The "glossary" in question is the translation of the version in the English docs: https://reactjs.org/docs/glossary.html

Currently @dmoralesm is assigned to translate it but if it's not done soon we should hand over the work to someone else.

[2019-01-31 21:58] dmoralesm commented on #4
I'm about to finish

[2019-01-31 21:58] sergiodxa commented on #4
I mean "a reference on how to translate common terms" that glossary.

[2019-01-31 21:59] shmesa22 commented on #4
Same here, I was thinking on some glossary on how to translate words like `callback` or `camelCase`

[2019-01-31 22:00] sergiodxa commented on #4
mock too

[2019-01-31 22:00] sergiodxa commented on #4
Or at least define what words not to translate because they are used as is in Spansh

[2019-01-31 22:03] tesseralis commented on #4
We'll probably have a TRANSLATION folder with style-guide.md and other useful guides in there. Let me get that set up.

[2019-01-31 22:09] sergiodxa commented on #4
Great!

I have another question, what about links to external sites? In Thinking in React there is a link to a Wikipedia page which has a Spanish translation, should I change the link to the Spanish version? or keep the English one?

[2019-01-31 22:10] tesseralis commented on #4
@sergiodxa that seems like a good idea, but I'll leave it to more experienced translators. We can also put our decision in the style guide!

[2019-01-31 22:15] sergiodxa commented on #4
Also what about text in block codes?
[code]
That's also in Thinking in React, should I translate the categories and names? (when they are not direct product names) I read on the main issue they will be copied as if in the future they are modified on the original version, also since it's data it could be left as is as an example.

[2019-01-31 22:17] tesseralis commented on #4
@sergiodxa maybe reference translations in other sites/languages to see what they do? Or see if you can find style guides from other technical projects we can use as a base for ours.

[2019-01-31 22:36] gariasf commented on #4
I would leave code as is with the exception of comments.

[2019-01-31 22:48] dmoralesm commented on #4
I agree with @gariasf

[2019-01-31 22:58] ElRodrigote commented on #14
Hi!

I would like to contribute taking this issue. How should I proceed? This would be my first contribution to public repos, please be patient haha.

[2019-01-31 22:58] tesseralis commented on #4
@sergiodxa @shmesa22 I added `TRANSLATION.md` as a source for translation information, including a style guide: https://github.com/reactjs/es.reactjs.org/blob/master/TRANSLATION.md. Feel free to edit and suggest style guide tips.

[2019-01-31 23:06] dmoralesm commented on #14
I think this is owned by @EzequielMonforte, please see https://github.com/reactjs/es.reactjs.org/issues/4 to check what you can help with :)

[2019-01-31 23:08] ElRodrigote commented on #14
OIC, thank you very much, will take a look =)

[2019-01-31 23:08] dmoralesm commented on #4
I would like to create a list of words that we must avoid to translate, such as *string* or *callback*. Is TRANSLATION.md a proper place to do it?

[2019-01-31 23:08] manuelczs commented on #1
Assign me!

[2019-01-31 23:09] tesseralis commented on #4
@dmoralesm Yup!

[2019-01-31 23:12] tesseralis commented on #1
There's already a PR for the glossary here! https://github.com/reactjs/es.reactjs.org/pull/16

[2019-01-31 23:19] manuelczs commented on #13
assign me!

[2019-01-31 23:22] dmoralesm commented on #13
@manuelczs please look at https://github.com/reactjs/es.reactjs.org/issues/4

[2019-01-31 23:24] alejandronanez opened #17 "Translate: Conditional Rendering."

[2019-01-31 23:56] ElRodrigote commented on #17
I'm kinda confused as this is my first contribution to open source. Could you please give me a hand about how to proceed? I've already cloned the repo, created a branch, started translating, but tried to push my branch to create a PR and it seems I don't have access rights, is that right?

[2019-02-01 00:01] dmoralesm commented on #17
Create a fork instead, then clone your fork and work there. You should be able to push your fork and then come back here and create a pull request.

[2019-02-01 00:12] EzequielMonforte opened #18 "Translate: Lists and Keys"

[2019-02-01 00:14] EzequielMonforte commented on #4
I would like work on List and keys too #18

[2019-02-01 00:16] manuelczs commented on #4
Hi, assign me:  Composition vs Inheritance

[2019-02-01 00:32] icarlossz commented on #4
When I finish with introducing jsx I want to continue with lists and keys

[2019-02-01 01:14] sergiodxa commented on #13
I’m already working on this as I said in #4

[2019-02-01 02:58] mbavio commented on #4
Hi, I would like to help translating `Composition vs Inheritance`.

[2019-02-01 03:01] mbavio opened #21 "Translate: Composition vs Inheritance"

[2019-02-01 03:17] joelalejandro commented on #4
Hello! I'd love to help with `Forms`.

[2019-02-01 04:13] sigfriedCub1990 commented on #4
Hello there, I would like to help with `Lifting State Up`

[2019-02-01 04:31] tmjoseantonio commented on #4
Hola!

I can help with Shallow Renderer 👌🏻

[2019-02-01 04:52] karolincastano commented on #4
Hi, I’m an English to Spanish translator and I would like to help with the contributing page translation.

[2019-02-01 09:18] semoal commented on #4
Hello! I'd love to help with `React`, or just the next going step on the priority list.

[2019-02-01 12:33] elyalvarado opened #24 "Translate: Test Renderer"

[2019-02-01 12:33] elyalvarado commented on #4
Hello, I'd love to take `Test Renderer`. I opened issue #24

[2019-02-01 12:34] elyalvarado commented on #24
#4

[2019-02-01 13:58] KevinGomezDev commented on #4
Hey y'all, I would like to start with Hooks.

[2019-02-01 14:00] LuisRevillaM commented on #4
I would love to help with the DOM elements section of the API Reference.

[2019-02-01 14:21] LuisRevillaM opened #25 "Translate: DOM Elements"
Translate the `DOM Elements` article in the `API Reference` section of the docs.

[2019-02-01 14:40] GiuMagnani commented on #4
I'd love to help with the `Hooks at a Glance` translation.

[2019-02-01 15:42] michaelcavallaro03 commented on #4
I would love to help with,  SyntheticEvent translation!

[2019-02-01 15:44] michaelcavallaro03 opened #26 "Translate: SyntheticEvent"
Created this issue as a placeholder for translating SyntheticEvent page of the API Reference section.

[2019-02-01 15:54] alejandronanez commented on #4
@michaelcavallaro03, @GiuMagnani, @LuisRevillaM, @KevinGomezDev all set.

[2019-02-01 16:03] alejandronanez commented on #4
@icarlossz `List and Keys` has already been assigned to @EzequielMonforte.

If you're done with #8 (it says WIP still) you should grab another piece of documentation. 😄

[2019-02-01 16:40] sergiodxa commented on #4
I created the PR for Thinking in React (#27)

Now I want to work in Hooks FAQ.

[2019-02-01 16:40] sergiodxa opened #28 "Translate: Hooks FAQ"
I'm going to work on that as per #4

[2019-02-01 16:47] ivandevp commented on #4
I would like to help with the Tutorial section.

[2019-02-01 16:53] sigfriedCub1990 commented on #4
@carburo, dónde está Guaso? Saludos de un hermano cubano

[2019-02-01 17:14] alejandronanez commented on #4
Hey man, @sergiodxa, all set!

@ivandevp, alright, assigned it to you!

[2019-02-01 17:32] a13marquez commented on #4
Hi everyone, i'd love to help in any section

[2019-02-01 17:37] devrchancay commented on #4
I want to translate ReactDOMServer 🤓

[2019-02-01 17:40] Zitle commented on #4
I want to translate Home :)

[2019-02-01 17:43] Zitle-Nancy commented on #4
I want to translate Home :)

[2019-02-01 17:44] d4vsanchez commented on #4
Hi! I’d like to help translating the “Test utilities” section.

[2019-02-01 17:48] alejandronanez commented on #4
Thanks for your interest friends, welcome 🎉

@d4vsanchez, @devrchancay and @Zitle-Nancy you're all set ✌️

[2019-02-01 17:48] alejandronanez commented on #4
@a13marquez, please, choose one, we have plenty of work to do! 😄

[2019-02-01 18:19] a13marquez commented on #4
@alejandronanez I can take Using the State Hook and Using the Effect Hook

[2019-02-01 19:01] icarlossz opened #30 "Translate: Rules of hooks"
I finished with Introducing JSX and I want to follow the spanish translation with the Rules of hooks section. Related to #4

[2019-02-01 19:17] EzequielMonforte opened #31 "Translate: Building your Own Hooks"
related #4

[2019-02-01 19:19] EzequielMonforte commented on #4
I want to work on #31

[2019-02-01 19:19] jvelezpo commented on #4
i will work on `Hooks API Reference`

[2019-02-01 19:24] jvelezpo opened #32 "Translate: Hooks API Reference"
Related https://github.com/reactjs/es.reactjs.org/issues/4

[2019-02-01 23:10] #13 closed

[2019-02-02 00:15] alejandronanez commented on #30
@icarlossz let's move this discussion to #4

[2019-02-02 00:34] #14 closed

[2019-02-02 00:39] jvelezpo commented on #4
special-props
unknown-prop

[2019-02-02 00:39] jvelezpo opened #36 "Translate: special-props && unknown-prop"
related to https://github.com/reactjs/es.reactjs.org/issues/4

[2019-02-02 02:07] alejandronanez commented on #4
Special props and Unknown Props are assigned to you @jvelezpo

[2019-02-02 02:16] angelitaooo commented on #4
I want to work in JS environment requirements please!

[2019-02-02 02:17] alejandronanez commented on #4
You got it @angelitaooo

[2019-02-02 06:41] tesseralis opened #38 "[Doc]: Add note about Promise polyfill for React.lazy"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/165ae047b4d1e419cbe3d2cdedae745c164b5a6f

[2019-02-02 06:41] tesseralis opened #39 "[Doc]: Merge pull request #1557 from bvaughn/useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/df240a426d37cbe8c955a4cbce4495f8c52f1274

[2019-02-02 06:41] tesseralis opened #40 "[Doc]: Wordsmithing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/efcbcc5a58ab88cf67de57eb9ff0c6dc65f0137d

[2019-02-02 06:41] tesseralis opened #41 "[Doc]: Typo fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/17fdc425bc08a2661359ee63f21f19dc13517ad9

[2019-02-02 06:41] tesseralis opened #42 "[Doc]: [Hooks] Add recommendations about useMemo and lazy init"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d7d55332780100f9488b6f08a41803c1df8738ea

[2019-02-02 06:41] tesseralis opened #43 "[Doc]: Merge pull request #1570 from bvaughn/useDebugValue-formatterFn"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8b333fd528856d611bccc7ad0ac137037471c6c4

[2019-02-02 06:41] tesseralis opened #44 "[Doc]: fest: add React Native EU 2019, move React India"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/c89caa08b3cc79bf224d068cbffc04254337b1e6

[2019-02-02 06:41] tesseralis opened #45 "[Doc]: Merge pull request #1544 from threepointone/master"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/924e76dc1b2b220da423549019c470696d08f9d8

[2019-02-02 06:41] tesseralis opened #46 "[Doc]: Added useDebugValue formatter function"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0ace70f43da6b4c713bf22d44ed5972692210c9e

[2019-02-02 06:41] tesseralis opened #47 "[Doc]: Add docs for useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/4c29b69558c401648f9e104dbd0dc7ab83e2fe51

[2019-02-02 06:41] tesseralis opened #48 "[Doc]: Tweak useMemo wording"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/9b5638f03453812a1586d67b219a19428e6aa0ee

[2019-02-02 06:41] tesseralis opened #49 "[Doc]: Very important fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f2d22dec00d549d40e3c41306e2aa0fc6a79bc78

[2019-02-02 06:41] tesseralis opened #50 "[Doc]: Clarify conflicting advice"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/1a49812370255f92d40e8512cdc95e205aff8864

[2019-02-02 06:41] tesseralis opened #51 "[Doc]: Warn against side effects in useMemo"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a946fb37831b30451eb147432a9882a48723cb63

[2019-02-02 06:41] tesseralis opened #52 "[Doc]: Add ReactBris to meetups"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/dc2deb974b20228fada6bd0a7eac442d46482efb

[2019-02-02 06:41] tesseralis opened #53 "[Doc]: Bump alpha"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/024b5b61731f267f3eb911c13fdd36e1a11c9d1e

[2019-02-02 06:41] tesseralis opened #54 "[Doc]: Warning page for invalid Hook calls"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f149987d940cefaa0bce4b3351a8991bfdc1d9c0

[2019-02-02 06:41] tesseralis opened #55 "[Doc]: Update meetups.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/14346719d4e331487313a53e52b256f986ca6d14

[2019-02-02 06:41] tesseralis opened #56 "[Doc]: Added link to Reach Router"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/b38c572939d5cad9cda99dd9514c187b1dc7d807

[2019-02-02 06:41] tesseralis opened #57 "[Doc]: typo"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/26b0eb258a5ccf3e2ba5fd3010036213f7bc598c

[2019-02-02 06:42] #38 closed

[2019-02-02 06:42] #39 closed

[2019-02-02 06:42] #40 closed

[2019-02-02 06:42] #41 closed

[2019-02-02 06:42] #42 closed

[2019-02-02 06:42] #43 closed

[2019-02-02 06:42] #44 closed

[2019-02-02 06:42] #45 closed

[2019-02-02 06:42] #46 closed

[2019-02-02 06:42] #47 closed

[2019-02-02 06:42] #48 closed

[2019-02-02 06:42] #49 closed

[2019-02-02 06:42] #50 closed

[2019-02-02 06:42] #51 closed

[2019-02-02 06:42] #52 closed

[2019-02-02 06:42] #53 closed

[2019-02-02 06:42] #54 closed

[2019-02-02 06:42] #55 closed

[2019-02-02 06:42] #56 closed

[2019-02-02 06:42] #57 closed

[2019-02-02 13:18] LuisRevillaM commented on #25
related to #4

[2019-02-02 13:19] escorponox commented on #4
Let me take the `Using the Effect hook` if it is still available

[2019-02-02 17:33] Darking360 commented on #4
Greetings :rocket:

I just created a PR for ReactDOM here: [ReactDOM translation](https://github.com/reactjs/es.reactjs.org/pull/33)

I'd love to keep helping, maybe I can help with the `Getting Started` :pray: let me know and I'll start it right away :+1: @dmoralesm

[2019-02-03 00:05] anyk1709 commented on #4
Hey! I'd like to help with Add React to a Website

[2019-02-03 01:52] alejandronanez commented on #4
Hello 👋 @Darking360 and @anyk1709, thanks for your interest!

I already assigned you the issues you mentioned! 👍

[2019-02-03 01:55] #12 closed

[2019-02-03 22:12] elyalvarado commented on #4
Having already finished with #24, and it already merged, I'll like to work on `Create a New React App`

[2019-02-03 22:13] elyalvarado opened #63 "Translate: Create a New React App"
#4 @alejandronanez

[2019-02-03 23:45] #11 closed

[2019-02-04 00:09] alejandronanez commented on #6
Closed by #5

[2019-02-04 00:09] #6 closed, assigned to alejandronanez

[2019-02-04 01:08] ElRodrigote commented on #4
Hi, I'm finishing #17 and would like to take `Accessibility` as I've worked with that in my current job :)

[2019-02-04 01:09] ElRodrigote opened #64 "Translate: Accessibility"
#4

[2019-02-04 05:16] ricardoerl commented on #4
I would like to help with `Context`

[2019-02-04 06:02] jonathanpalma commented on #4
I'd like to help with `Render Props`

[2019-02-04 06:17] carburo commented on #4
Thank you for your interest.. :tada: Context goest to @ricardoerl & Render Props to @jonathanpalma.

[2019-02-04 10:07] RamirezAlex commented on #4
I would like to work on `Fragments` :-)

[2019-02-04 11:06] LuisRevillaM opened #65 "Translate: Code-Splitting"
Translate the Code-Splitting article of the Advanced Guides section.

[2019-02-04 11:08] #65 closed

[2019-02-04 11:08] LuisRevillaM commented on #4
I would like to translate Code-Splitting on Advanced Guides.

[2019-02-04 16:47] carburo commented on #4
Welcome @RamirezAlex! I alredy assign you Fragments. @LuisRevillaM, @elyalvarado and @ElRodrigote I already assign you the issues you mentioned.

[2019-02-04 18:05] ElRodrigote commented on #4
Thanks! Didn't know, sorry, won't happen again :)

[2019-02-04 19:40] elyalvarado commented on #4
Done with `Forwarding Refs`. PR is #72 @dmoralesm, @carburo and @alejandronanez.

I'll like to work on `Higher-Order Components`

[2019-02-04 21:04] alepaz commented on #4
Hi! Let me help with `Integrating with Other Libraries`

[2019-02-04 21:21] alejandronanez commented on #4
Ok, friends, we have:

- @GiuMagnani, I assigned to you `Component State`. I didn't assign `Styling and CSS` to you just yet, we're trying to have 1 PR per person at the time, also someone might be interested in `Styling and CSS` while you work in `Component State`. Once you're done with `Component State` let us know and we can assign `Styling and CSS` (or any other) to you! 👍
- @elyalvarado you g

[2019-02-04 21:22] #7 closed

[2019-02-04 21:28] #32 closed, assigned to nobody

[2019-02-04 22:53] GiuMagnani commented on #4
Thanks @alejandronanez, I just sent the PR for the `Component State` FAQ: [#75](https://github.com/reactjs/es.reactjs.org/pull/75). Let me know when I can take the `Styling and CSS` or another that is available. Thanks again!

[2019-02-05 02:14] #31 closed

[2019-02-05 05:33] #18 closed

[2019-02-05 06:18] #26 closed

[2019-02-05 12:43] jesgarciamartinez commented on #4
Hi! I'd like to work on _Error Boundaries_

[2019-02-05 13:15] jvelezpo commented on #4
Hello, i will work on
* refs-must-have-owner (this is a short file so i will take on other file)
* invalid-aria-prop (this one is also a short file)
* dont-call-proptypes

@alejandronanez  One question i dont see `legacy-properties` but i see `legacy-factories` file, if this is a typo on the description of the issue, i can take on `legacy-factories` as well

[2019-02-05 13:16] jvelezpo opened #79 "Translate: refs-must-have-owner && invalid-aria-prop && dont-call-proptypes"
* refs-must-have-owner
* invalid-aria-prop
* dont-call-proptypes

Relates to https://github.com/reactjs/es.reactjs.org/issues/4

[2019-02-05 14:25] RamirezAlex opened #80 "Translate: Fragments"
Translate Fragments #4

[2019-02-05 14:42] RamirezAlex commented on #4
I open a PR #82 for `Fragments` to close issue #80
I would like to continue with `Optimizing Performance`

[2019-02-05 15:58] alejandronanez commented on #4
@jvelezpo thanks for your enthusiasm, but, please, take one issue at the time. It doesn't matter if they are small ones. Once you're done with one issue, we can assign you another.

[2019-02-05 15:58] florenciasilva commented on #4
Hi! I would like to work on **FAQ: Passing Functions to Components.**
https://github.com/reactjs/es.reactjs.org/blob/master/content/docs/faq-functions.md

[2019-02-05 16:00] Darking360 commented on #4
Hey! I just finished the PR for the `Getting Started` page here: [Getting Started PR](https://github.com/reactjs/es.reactjs.org/pull/76) 🚀

I'd love to continue with: `Refs and the DOM` if that's ok. Please let me know, and I'll probably start it tomorrow 💪

**CC:** @tesseralis @dmoralesm @carburo @alejandronanez

[2019-02-05 16:02] alejandronanez commented on #4
Hello!

@florenciasilva you got `FAQ: Passing Functions to Components`
@RamirezAlex I assigned `Optimizing Performance`
@jvelezpo you got  `refs-must-have-owners`, `invalid-aria-prop`, `dont-call-proptypes`. Once you're done with those 3, you can claim `JSX in Depth` if it is still available 👍
@Darking360 `Refs and the DOM` is yours

Thank you friends!!!

[2019-02-05 16:14] RamirezAlex opened #84 "Translate: Optimizing Performance"
Translate: Optimizing Performance #4

[2019-02-05 16:16] jvelezpo commented on #4
@alejandronanez done with `refs-must-have-owners`, `invalid-aria-prop`, `dont-call-proptypes`
on PR https://payfully.atlassian.net/browse/PF-711
i would like `JSX in Depth` if it is still available

[2019-02-05 19:42] RamirezAlex commented on #4
Hi @alejandronanez @carburo @tesseralis and others: I think it is very important that we establish which form of second-person treatment we are going to use for consistency. Meaning, I have seen some contributors using `tu` others using `vos` and others including me using `usted`. :D

In my case I started using `usted` because I consider this formal documentation, thus I use formal treatment and i

[2019-02-05 19:49] GiuMagnani commented on #4
I vote for `tú`, I don't think a library's documentation should be that formal.

[2019-02-05 20:04] carburo commented on #63
Closed by #68

[2019-02-05 20:05] #63 closed

[2019-02-05 20:13] elyalvarado commented on #4
I agree that the tone in English is kind of informal, specially because it isn't using the third person. That's what I think that the more familiar/informal `tú` matches better the original intent.

[2019-02-05 21:35] Paolore commented on #4
Hello, I would like Web Component.

[2019-02-05 21:35] alejandronanez commented on #4
@RamirezAlex, Echoing what @GiuMagnani @elyalvarado and @sergiodxa said, let's go with `tú`!

[2019-02-06 01:38] alejandronanez commented on #4
👋 @Paolore you got `Web Components` and @jvelezpo you got `JSX in Depth`!!!

Thanks for all your help here!

[2019-02-06 04:52] tesseralis commented on #4
@alejandronanez if you have a style guide you can put "use _tú_" in it!

[2019-02-06 05:17] Paolore commented on #4
Web Component translation #88
I could continue with  Uncontrolled Components

[2019-02-06 06:37] carburo commented on #4
So, Strict mode for @d4vsanchez and Uncontrolled Components for @Paolore.
Good job everybody!

[2019-02-06 09:09] reactjs-translation-bot opened #89 "[Merge]: Mention type defs"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ee5fea9f36c9e6cbeaff0b494160a180dd27075f

[2019-02-06 09:09] reactjs-translation-bot opened #90 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0d8957026442f2af82190874213d0935685dc42b

[2019-02-06 09:09] reactjs-translation-bot opened #91 "[Merge]: add warning for invalid hook call"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e3012392a3107aa47d65029a17d47721205b6db2

[2019-02-06 09:09] reactjs-translation-bot opened #92 "[Merge]: Revert "add warning for invalid hook call""
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/95258c051661ee21c7f7dd3d9e17c0d3d9eb67b0

[2019-02-06 09:09] reactjs-translation-bot opened #93 "[Merge]: Point to codesandbox and usehooks as community examples"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f9f0d66272a373d52ea975978c0c3b2b77620bd8

[2019-02-06 09:09] reactjs-translation-bot opened #94 "[Merge]: Tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e5a987bc60a80ca935f8e11f16b06f2a58215b64

[2019-02-06 09:09] reactjs-translation-bot opened #95 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/2fd487e3093319b14c3e031d596ebc4e96a480a8

[2019-02-06 09:09] reactjs-translation-bot opened #96 "[Merge]: Docs updates"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d460a9b106c7b45d1f0168dbbeafb245ccd16cab

[2019-02-06 09:09] reactjs-translation-bot opened #97 "[Merge]: Thanks Sophie"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ed6e711a83f3f53f834fb5e331632a0dd20c3e95

[2019-02-06 09:11] reactjs-translation-bot opened #98 "[Merge]: tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d97cdcac7f3166c753928beb88209f1face6ac01

[2019-02-06 09:11] reactjs-translation-bot opened #99 "[Merge]: Added ReactTestUtils.act() to CHANGELOG"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8cae0666577b3ce157a948f024017a51c71c5817

[2019-02-06 09:11] reactjs-translation-bot opened #100 "[Merge]: Merge pull request #1629 from bvaughn/hooks-stable"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d468ba1c6ee86f25d7a11a74623801823b2ec318

[2019-02-06 09:11] reactjs-translation-bot opened #101 "[Merge]: testing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/601c016f49719819dd74799f0b334e50311c8d88

[2019-02-06 09:11] reactjs-translation-bot opened #102 "[Merge]: Replaced inaccurate comments"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a0db3e7f1753a33b64e6d9ea52ed9d1b1b8f2887

[2019-02-06 09:11] reactjs-translation-bot opened #103 "[Merge]: Udpated changelog"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ee909e5a675babde98711197699402befc043ff4

[2019-02-06 09:11] reactjs-translation-bot opened #104 "[Merge]: Renamed Hooks blog/date"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/30914131e8af651bf464a9380e47d7795b8827b9

[2019-02-06 09:11] reactjs-translation-bot opened #105 "[Merge]: Moved blog post to Feb 6th"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8fa112eeba9f9ecb12189ab8520d446537e4e25f

[2019-02-06 09:11] reactjs-translation-bot opened #106 "[Merge]: Merge branch 'hooks-stable' of https://github.com/gaearon/reactjs.org…"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/7d897624077dc33cf1040e7c2b33a5d2db095684

[2019-02-06 09:14] reactjs-translation-bot opened #107 "[Merge]: Updated 16.8 CHANGELOG wording to also mention ReactTestRenderer.act()"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/cea45bbbb498d85cf9c1ce615753afd29d20f244

[2019-02-06 10:12] GiuMagnani commented on #4
Done with `Styling and CSS` @dmoralesm, @carburo and @alejandronanez, PR is #108. Can I take `File Structure` from FAQ now?

[2019-02-06 12:23] escorponox commented on #4
Done with `Using the Effect Hook` @dmoralesm, @carburo and @alejandronanez. #66

[2019-02-06 17:52] jnosornov commented on #4
I would like to work on Typechecking With PropTypes

[2019-02-06 18:07] adielhercules commented on #4
I would like to work on React Without ES6

[2019-02-06 18:08] adielhercules opened #109 "Translate: React Without ES6"
Translate React Without ES6

[2019-02-06 18:50] jnosornov opened #111 "Translate: Typechecking With PropTypes"

[2019-02-06 18:52] jnosornov commented on #4
I would like to work on Typechecking With PropTypes #111

[2019-02-06 20:12] adielhercules opened #112 "Translate: React Without JSX"
Translate: React Without JSX

[2019-02-06 20:13] adielhercules commented on #4
I would like to also work on React Without JSX #112

[2019-02-06 21:33] carburo commented on #4
Ok,
- @GiuMagnani I already assign you File Structure.
- @adielhercules I gave you React without ES6, once you are done with it, feel free to claim another one.
- @jnosornov I assign you Typechecking with PropTypes.

Do not create new issues claiming for new work please, let's keep everything here.
Thank you all!

[2019-02-06 21:55] #89 closed

[2019-02-06 21:55] #90 closed

[2019-02-06 21:55] #91 closed

[2019-02-06 21:55] #92 closed

[2019-02-06 21:55] #93 closed

[2019-02-06 21:55] #94 closed

[2019-02-06 21:55] #95 closed

[2019-02-06 21:55] #96 closed

[2019-02-06 21:55] #97 closed

[2019-02-06 21:55] #98 closed

[2019-02-06 21:55] #99 closed

[2019-02-06 21:55] #100 closed

[2019-02-06 21:55] #101 closed

[2019-02-06 21:55] #102 closed

[2019-02-06 21:55] #103 closed

[2019-02-06 21:55] #104 closed

[2019-02-06 21:55] #105 closed

[2019-02-06 21:55] #106 closed

[2019-02-06 21:55] #107 closed

[2019-02-06 22:09] tesseralis commented on #4
Hi all!

I just merged in changes from the hook release from master, and there are a few files that need to be updated. You can see the PR here: https://github.com/reactjs/es.reactjs.org/pull/115

The files that need to be updated (and the original translators):

 content/docs/addons-test-utils.md (@d4vsanchez)
  content/docs/hooks-custom.md (@EzequielMonforte)
  content/docs/hooks-reference.md (@

[2019-02-07 00:18] jvelezpo opened #116 "Translate: JSX In Depth"
relates to: https://github.com/reactjs/es.reactjs.org/issues/4

[2019-02-07 01:14] alejandronanez commented on #4
Heads up @d4vsanchez, @EzequielMonforte and @jvelezpo we just merged #115!

Let us know if you need any help!

[2019-02-07 03:55] devrchancay commented on #4
I want to translate reconciliation 🤓😬

[2019-02-07 04:32] Paolore commented on #4
I want  React Without JSX
:)

[2019-02-07 04:40] vickvasquez commented on #112
Assign me

[2019-02-07 07:46] carburo commented on #4
Hello @joelalejandro, @sigfriedCub1990, @karolincastano, @tmjoseantonio. There has been almost a week since you requested one of the articles. As you haven't yet opened a PR we wanted to know what's the current status of your work on those articles. Also, if for any reason you cannot continue, please let us know in order to pass it to some one else.

[2019-02-07 08:01] carburo commented on #112
Please, do not create new issues for claiming translations. Issue #4 is the right place to do that.

[2019-02-07 08:01] #112 closed

[2019-02-07 08:02] carburo commented on #116
Please, do not open new issues for claiming translations. #4 is the right place to do that.

[2019-02-07 08:02] #116 closed

[2019-02-07 08:15] carburo commented on #4
@devrchancay, Reconciliation is yours now.
@Paolore I didn't assign you React Without JSX because you have already a translation for Uncontrolled Components. Let us know when you finish and we will be happy to give you another one.

[2019-02-07 12:02] jvelezpo commented on #116
Hello @carburo i am not claiming with an issue, i open this issue because the section was already assigned to me, look at this, and if you consider to reopen the issue it will be good,

https://github.com/reactjs/es.reactjs.org/issues/4#issuecomment-460871891

![image](https://user-images.githubusercontent.com/1050904/52410362-1f534780-2aa6-11e9-81e5-7afc3b9675ad.png)

![image](https://user-images

[2019-02-07 12:34] GiuMagnani commented on #4
Done with `File Structure` @dmoralesm, @carburo and @alejandronanez, PR is #121. Thanks!

[2019-02-07 14:04] Paolore commented on #4
Hi @carburo, yes, then I want Static-Type-Checking. thanks!

[2019-02-07 14:22] carburo commented on #116
Read the first comment in #4. You dont't need to open an issue. Just send a PR.

[2019-02-07 14:31] alejandronanez commented on #111
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks!

[2019-02-07 14:31] #111 closed

[2019-02-07 14:31] alejandronanez commented on #84
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:31] #84 closed

[2019-02-07 14:32] alejandronanez commented on #80
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #80 closed

[2019-02-07 14:32] alejandronanez commented on #64
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #64 closed

[2019-02-07 14:32] alejandronanez commented on #28
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #28 closed

[2019-02-07 14:32] alejandronanez commented on #30
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #30 closed

[2019-02-07 14:32] alejandronanez commented on #21
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #21 closed

[2019-02-07 14:32] alejandronanez commented on #79
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:32] #79 closed

[2019-02-07 14:33] alejandronanez commented on #36
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:33] #36 closed

[2019-02-07 14:33] alejandronanez commented on #17
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:33] #17 closed

[2019-02-07 14:33] alejandronanez commented on #15
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:33] #15 closed

[2019-02-07 14:33] alejandronanez commented on #109
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks! 👍

[2019-02-07 14:33] #109 closed

[2019-02-07 15:00] adielhercules commented on #4
I've just created a PR for React Without ES6 cc @carburo

[2019-02-07 15:50] khriztianmoreno commented on #4
I'd love to help with the ` Portals` translation. @alejandronanez

[2019-02-07 17:15] carburo commented on #4
Ok @khriztianmoreno. You have it!

[2019-02-07 20:34] SebPez commented on #4
I'd like to help with Anything from FAQ's. Ideally ` Babel, JSX, and Build Steps` + something else.

[2019-02-07 20:56] jnosornov commented on #4
made some changes suggested by @RamirezAlex to PR #113. Can anyone else take a look to see if further mods are need it?.

[2019-02-07 23:57] alejandronanez commented on #4
You got it @SebPez!

@jnosornov, thanks! For the next occasion, you can tag us in the PR and Github will notify us :)

[2019-02-08 04:56] tmjoseantonio commented on #4
@carburo,

@karolincastano and I are going to start pushing updates during this weekend, if you consider our assignments can be passed to another people please go ahead as we have been really busy these last days. Apologies for that.

[2019-02-08 05:34] carburo commented on #4
@tmjoseantonio & @karolincastano. No problem! We just wanted to check because those pages are needed to have an MVP. I'll leave it assigned to you then.

[2019-02-08 05:42] carburo commented on #4
Hello @Zitle-Nancy, @mbavio. There has been almost a week since you requested one of the core pages. As you haven't yet opened a PR we wanted to know what's the current status of your work on those articles. Also, if for any reason you cannot continue, please let us know in order to pass it to someone else.

[2019-02-08 13:00] carburo commented on #4
I am opening up the slot of Forms that was assigned to @joelalejandro. Please, claim it if you are going to start working on it, as it is one of the core pages needed to have a minimum viable translation.

[2019-02-08 14:17] Darking360 commented on #4
@carburo I could start working on the `Forms` since I'm finishing the `Refs and the DOM` translation, I could start it during the day, and have it finished for tomorrow if that's ok. Let me know :rocket:

**CC:** @alejandronanez @dmoralesm

[2019-02-08 14:54] andfelzapata commented on #4
I would like to work on the Contributing section.

[2019-02-08 14:56] jnosornov commented on #4
@carburo If there is any trouble translating some of the core pages, just let me know. I guess `Forms` would be assigned to @Darking360 since he claimed it already.

[2019-02-08 16:24] elyalvarado commented on #4
Finished translation of `Higher-Order Components` on PR #125. I'll appreciate any comments/corrections as it was not only long, but also the concept is hard to understand for many people and I want to make sure the translation is ok.

I'll shoot myself in the foot again, and would like to take `Virtual DOM and Internals` @carburo @alejandronanez @dmoralesm

[2019-02-08 17:52] mbavio commented on #4
@carburo Working on it, will have a WIP PR later today.

[2019-02-08 23:26] giossa94 commented on #4
I'd like to translate **Virtual DOM and Internals**, which belongs to the FAQ section.

[2019-02-09 00:25] Zitle-Nancy commented on #4
@carburo Hello, sorry for the delay, I just send my PR (#123), in this morning and  I am waiting for your feedback.
Cheers!

[2019-02-09 01:10] alejandrogarciasalas commented on #4
I'd like to help with `Versioning Policy`!
@dmoralesm, @carburo  @alejandronanez

[2019-02-09 01:37] carburo commented on #4
Ok, @Darking360 you got Forms

[2019-02-09 13:43] tmjoseantonio opened #129 "Translate: Shallow Renderer"
Translate the `Shallow Renderer` article in the `API Reference` section of the docs.

Related to #4

[2019-02-09 15:27] carburo commented on #129
We're closing this issue to reduce the noise in the repo. The place to claim an issue is #4

Thanks!

[2019-02-09 15:27] #129 closed

[2019-02-09 18:55] loconluis commented on #4
I would like to work on the **CDN Links** and also on **How to Contribute**

[2019-02-10 01:06] jpvg10 commented on #4
Hello, I would like to do `Legacy factories` in the warnings section @dmoralesm, @carburo @alejandronanez

[2019-02-10 01:07] tesseralis commented on #4
You got it @jpvg10 !

[2019-02-10 02:28] elyalvarado commented on #4
@alejandronanez @carburo @dmoralesm PR #125 is ready to be merged, I'll like to work on `Design Principles`

[2019-02-10 02:30] MiguelMadero commented on #4
Can I do Design Principles ?

[2019-02-10 02:35] maudel commented on #4
@dmoralesm, @carburo @alejandronanez I really want to help I can work on any page you need help .
These ones for example doesn't have a person in charge.

* How to Contribute
* [ ]  Codebase Overview
* [ ]  Implementation Notes
* [ ]  Design Principles

[2019-02-10 02:50] Paolore commented on #4
Hi @carburo, is ready Static-type-checking to review. PR 136

[2019-02-10 03:27] carburo commented on #4
Ok, @loconluis you got "CDN Links". After you finish that you can claim another one.
@elyalvarado You got Design Principles
@maudel "How to Contribute"
@MiguelMadero That one was claimed already by @elyalvarado.  Would you like to take "Codebase Overview" or "Implementation Notes"?

[2019-02-10 03:53] jpvg10 commented on #4
`Legacy factories` ready for review!

Also I noticed that in the warnings folder there is a file that is not in the checklist on this issue: `invalid-hook-call-warning`

[2019-02-10 05:07] carburo commented on #4
Yes, @jpvg10, you are right. Thank you! This was added for React 16.8. Do you want to take it?

[2019-02-10 05:46] jpvg10 commented on #4
Ok @carburo I'll take it

[2019-02-11 02:27] jpvg10 commented on #4
`Invalid hook call warning` is ready for review!

[2019-02-11 08:46] MiguelMadero commented on #4
@carburo I can do "Codebase Overview" or "Implementation Notes" in that order.

[2019-02-11 10:40] escorponox commented on #4
I created a new PR for a fix on `Effect Hooks` #144
@carburo

[2019-02-11 12:51] elpopisencio commented on #4
I'd like to help but apparently I'm too late. Let me know if there's anything I can do!

[2019-02-11 14:12] capradenas commented on #4
:( me too

[2019-02-11 16:53] carburo commented on #4
@MiguelMadero you got "CodebaseOverview"
@elpopisencio is not too late, you got "Implementation Notes"
@capradenas It's never too late. These pages have to be continually improved and updated from upstream. With that said, the components section is still available. There is little translatable text in there, but it is something that needs to be done as well. Everyone can help to fix issues they sp

[2019-02-11 17:20] carburo commented on #4
@mbavio Sorry to bother you again, it has been 11 days since you took the article "Composition vs Inheritance" and is the only one of the core articles that doesn't have a PR open yet. Could you open at least a "Work in Progress" PR? If you cannot finish there is no problem, we can open the spot for someone else to continue the work.
Also, @LuisRevillaM,  @anyk1709, @KevinGomezDev, @sergiodxa, @al

[2019-02-11 17:48] caal-15 commented on #4
Hey if there's something for me to do, I can take anything you have left :D

[2019-02-12 02:10] #1 closed

[2019-02-12 06:04] d4vsanchez commented on #4
Me too. If I can help with something else on the translation matter, just hit me up.

[2019-02-12 15:42] sergiodxa commented on #4
@carburo I don't think I'm going to be able to work on Hooks FAQ, too busy right now.

If @caal-15, @d4vsanchez or someone else wants to take it go ahead 👍

[2019-02-12 16:06] caal-15 commented on #4
I can take it and start working on it tonight if that sounds cool? :)

[2019-02-12 17:05] elyalvarado commented on #4
The complete draft for the translation of `Design Principles` is ready on PR #146 for review. I'll highly appreciate anybody's suggestions as it was a very long article with a lot of complex concepts without a direct translation, so I had to take some liberties.

[2019-02-12 17:09] mbavio commented on #4
@carburo Can't get a breath from work in order to work on `Composition vs Inheritance`. Feel free to assign it to somebody else.

[2019-02-12 17:58] jesgarciamartinez commented on #4
The PR for the translation of `Error Boundaries` is up - PR [#147](https://github.com/reactjs/es.reactjs.org/pull/147).

I could do `Composition vs Inheritance` next.

[2019-02-12 19:11] icarlossz commented on #4
I can take the remaining components.

[2019-02-12 20:38] carburo commented on #4
@caal-15 You got Hooks FAQ
@jesgarciamartinez I assign you Composition vs Inheritance, note this is a core article, and we are trying to push these asap. So, if you are don't think you will able to have a PR soon, please let us know.
@icarlossz you got the remaining components
@d4vsanchez We can assign you Add React to a website that is now open. Let us know.

[2019-02-12 20:52] d4vsanchez commented on #4
@carburo Yes, I'll take "Add React to a website". Thanks!

[2019-02-12 21:04] jvelezpo commented on #4
Hello @carburo  i am seeing this `Hooks API Reference (@jvelezpo) #35 (Needs updating)`

can you explain me what is needs updating, i am assuming there were some changes in the original repo  that and they need translation, am I right?

[2019-02-12 21:51] ivandevp commented on #4
I've just finished translating the tutorial (#84). Is there anything else that I can help? I see the blog and community section, but let me know if there's anything with a high priority.

[2019-02-12 22:04] carburo commented on #4
@jvelezpo Yeah, sorry. They are now fully updated. Some changes were already made. The only missing part of the articles was to add the heading IDs. Thank you for pointing that out.

[2019-02-12 22:24] d4vsanchez commented on #4
I've finished translating `Add React to a Website`.

Waiting for the review 😄 @alejandronanez @dmoralesm @carburo

[2019-02-13 11:47] jesgarciamartinez commented on #4
The PR for the translation of `Composition vs Inheritance` is up - PR [#150](https://github.com/reactjs/es.reactjs.org/pull/150).

[2019-02-13 16:25] LuisRevillaM commented on #4
PR #145 `Code-Splitting` is ready to be reviewed. Thank you!

[2019-02-13 23:34] caal-15 commented on #4
Added WIP PR for Hook FAQ translation: #151, will update when ready.

[2019-02-14 06:35] devrchancay commented on #4
The PR for the translation of `Reconciliation` #152

[2019-02-14 14:43] jvelezpo commented on #4
Hello @carburo,

i see some tasks like `* Introducing Hooks`,  `Hooks FAQ` or `Integrating with Other Libraries` (and others) assigned many days ago and still there is no progress on them.

I the tasks are going to be reassigned let me know, i will be happy to work on them 👍

[2019-02-14 14:49] KevinGomezDev commented on #4
Hi @carburo I will send the PR for `Introducing Hooks`  today or tomorrow afternoon

[2019-02-14 15:16] elyalvarado commented on #4
As I didn't receive any comments I'll mark #146 as done and ready for merging. @carburo @alejandronanez

[2019-02-14 16:09] elyalvarado commented on #4
Hi @everybody, I just created an #es channel on the [React Translations Slack](https://join.slack.com/t/react-translations/shared_invite/enQtNTQ4MDQxMDQwMTk1LWRjMWI0ZjVlYzUyYmMzN2Q5MmJiNzA1MjdlNjViM2Y0MDQ2ZTRhZmM5NTliYmU1MzRmMTFhNzhkMmU3OTg3MjY) created by @tesseralis. This is a great place to have a more interactive discussion and to get real-time help. See you there.

[2019-02-14 16:38] tesseralis commented on #4
Actually @telmogoncalves made the slack, I just made it official :)

[2019-02-14 21:05] telmogoncalves commented on #4
The only reason I'm here it's you. If it wasn't for your Tweet I wouldn't be here, so, thank you @tesseralis

[2019-02-15 02:35] ivandevp commented on #4
Hey @alejandronanez , the `tutorial/nav.yml` was translated in #83, too. So, I think you can check it as done in the navigation section of this issue's body.

[2019-02-15 03:07] carburo commented on #4
I am opening "Integrating with Other Libraries" as we've got no answer from the @alepaz. Would you like to take it @jvelezpo?
Also, we want to know from the current status of the translations carried by @SebPez, @RamirezAlex and @alejandrogarciasalas. If you cannot carry on with them we will assign them to other contributors.

[2019-02-15 12:29] jvelezpo commented on #4
yes i can take "Integrating with Other Libraries" @carburo 👍

[2019-02-15 12:31] ivandevp commented on #4
Hey @carburo, let me know if I can help with any other part of translation, please.

[2019-02-15 14:37] Darking360 commented on #4
Greetings! 🚀

Just finished the translation for [Forms](https://github.com/reactjs/es.reactjs.org/pull/132)

@carburo If there's another part that I can help to translate, let me know 🙏

[2019-02-15 18:25] maudel commented on #4
Just Finish the translations of [how to contribute](https://github.com/reactjs/es.reactjs.org/pull/153)

@carburo

the same for my if I can help translating another page please let me know

[2019-02-15 22:56] alejandrogarciasalas commented on #4
@carburo I am done with the translation in [crowdin](https://crowdin.com/translate/react/2944/en-es). I'll make the PR in a bit. Sorry about the delay 🙇‍♂️

[2019-02-15 23:19] alejandrogarciasalas commented on #4
Update: PR translating `faq-versioning` #154. Thanks @carburo !

[2019-02-15 23:20] loconluis commented on #4
I could also help if something was needed.

[2019-02-16 00:51] devrchancay commented on #4
I am translating `docs/nav.yml`

[2019-02-16 02:19] KevinGomezDev commented on #4
@carburo @alejandronanez  Introducing Hooks PR is ready for review #156
Sorry for the Delay, a lot of work these days.

[2019-02-16 03:11] RamirezAlex commented on #4
@carburo I will submit my PR soon, it is a long one.

[2019-02-16 07:24] tesseralis opened #158 "Spanish Translation Final Tasks!"
¡Felicidades!

Y'all are amazing! 🎊It's been two weeks and you're translated the **entire React documentation** into Spanish! Give yourselves a big round of applause 👏

Now, there are couple more errands to do before we can finally deploy:

* [ ] Replace "reactjs.org" to "es.reactjs.org in the following places:
  * [ ] package.json
  * [ ] site-constants.js
  * [ ] gatsby-config.js
  * [ ] Markdow

[2019-02-16 07:25] tesseralis commented on #4
You all are amazing! I made a final list of things to do to prepare the site for release! https://github.com/reactjs/es.reactjs.org/issues/158

[2019-02-16 12:08] alejandronanez commented on #158
It’s happening!

[2019-02-16 12:20] alejandronanez commented on #158
Thanks to @loconluis for #159!

[2019-02-16 12:21] alejandronanez commented on #158
I'll review the whole site during the weekend (life happens)! 😸

[2019-02-16 15:49] carburo commented on #158
The site is deployed on [Netlify](https://es-react-js.netlify.com/) so it's easier for everyone to take a look and review it.

[2019-02-16 15:59] devrchancay commented on #158
It looks great on Netlify but they need to review #155

[2019-02-16 17:28] Zitle-Nancy commented on #4
Hi @carburo , I finished the translation of <LayoutFooter /> and <LayoutHeader />  (#160)
Let me know if you have any comments.

[2019-02-17 01:42] tesseralis commented on #4
WE DID IT!!!
<img width="364" alt="screen shot 2019-02-16 at 5 40 43 pm" src="https://user-images.githubusercontent.com/1278991/52907235-47634900-3212-11e9-8f67-9cb736015f7b.png">

[2019-02-17 02:01] Darking360 commented on #158
Greetings y'all 🚀 awesome! I'll take a look maybe tomorrow or Monday and see all 💪

[2019-02-17 02:15] tesseralis commented on #158
Would you all be okay with the current netlify deployment becoming es.reactjs.org? If so, we can get @ericnakagawa or @bvaughn to point es.reactjs.org to it.

[2019-02-17 02:24] tesseralis commented on #158
I looked over it and had a few thoughts:

The headings in the home page are styled strangely?
<img width="764" alt="screen shot 2019-02-16 at 6 17 43 pm" src="https://user-images.githubusercontent.com/1278991/52907512-e5a5dd80-3217-11e9-87e0-9c3e66562939.png">
<img width="763" alt="screen shot 2019-02-16 at 6 17 49 pm" src="https://user-images.githubusercontent.com/1278991/52907513-e6d70a80-3217-1

[2019-02-17 02:31] carburo commented on #158
@tesseralis There is a pending PR (#160) that should translate the navbar. I should have it reviewed and merged later tonight.

[2019-02-17 02:32] tesseralis commented on #158
@carburo great!

_Elementos DOM_/DOM Elements is inconsistent: https://es-react-js.netlify.com/docs/dom-elements.html

[2019-02-17 02:44] tesseralis commented on #158
PR for the home page title: https://github.com/reactjs/es.reactjs.org/pull/163

[2019-02-17 03:19] tesseralis commented on #158
This is less important but we can also search for links to en.wikipedia.org or developer.mozilla.org  and seeing if there are any English links that have a better Spanish version.

[2019-02-17 21:04] tesseralis commented on #158
One more thing: the text in the Search bar is cut off
<img width="189" alt="screen shot 2019-02-17 at 1 02 57 pm" src="https://user-images.githubusercontent.com/1278991/52919186-85b14480-32b4-11e9-93f0-65cd2214d87c.png">

Maybe it's best to just shorten it to "Buscar"?

[2019-02-18 00:03] alejandronanez commented on #158
Hey @tesseralis @carburo @Darking360 @dmoralesm!

I just did a quick run through the whole website and everything seems to be ok 🎉 .

I found some minor things that could be improved and opened the respective PRs #169 #170 #171

[2019-02-18 15:43] Darking360 commented on #158
[PR #170](https://github.com/reactjs/es.reactjs.org/pull/170) merged! 🚀

I'll take a look into core 💪

[2019-02-18 23:02] Darking360 commented on #158
Hey guys 💪 I was looking into the translation so far, I opened [this PR](https://github.com/reactjs/es.reactjs.org/pull/174) in order to add my feedback and some things that I observed so far, I'm on `React.Component` right now, but I wanted you to take a look into what's there so far to not double fix the same thing.

I've seen some accents left, un-translated parts, code in spanish, some links t

[2019-02-18 23:11] lex111 commented on #158
I would also like to join in the congratulations to the Spanish translation team. ¡Un gran trabajo, todos! :clap:

@tesseralis excuse me for writing here, but since these are final tasks, I’m wondering why there’sn’t a task to set up the search, as I understand it, need to change the [Algolia API key](https://github.com/reactjs/es.reactjs.org/blob/ed07fa53dc9ab7950e630900f7da3a7c821d63a6/src/compo

[2019-02-19 01:40] tesseralis commented on #158
@lex111 you're totally right! We uh... should fix that.

[2019-02-19 01:43] lex111 commented on #158
@tesseralis it would be nice to have instructions on how to do this :+1:

[2019-02-19 01:44] tesseralis commented on #158
@lex111 I... have absolutely no idea.

Maybe @gaearon @ericnakagawa @bvaughn could help?

[2019-02-19 04:36] tesseralis commented on #158
Seems like the site uses Algolia [docsearch](
https://community.algolia.com/docsearch/), which is invitation only. So we can probably do a few things:

* Have one of the maintainers apply for it pointing to es.reactjs.org. I have no idea if they’re quick at responding to requests, and it doesn’t seem like a good long term strategy for our 30+ languages
* disable the search for now (there should be

[2019-02-19 04:47] tesseralis commented on #158
Eh, I’m sure it’ll be fine with Algolia. The jp.vuejs.org has it working. I’ll just have to add it to the “starting out” guide

[2019-02-19 08:35] escorponox commented on #158
I saw some minor issues in hooks-effect in the last review. I'll send a PR asap.

[2019-02-19 18:40] tesseralis commented on #158
Guess what: es.reactjs.org

[2019-02-19 18:41] bvaughn commented on #158
I'm trying to figure out how to force redirect HTTP -> HTTPS, but for now at least the master branch of this repo is being built by Netlify and I've setup the subdomain to point to the result.

[2019-02-19 18:48] tesseralis commented on #158
IIRC you have to wait until the dns propagates and then they’ll either do it automatically or there’s a big green button you can push.

[2019-02-19 18:50] tesseralis commented on #158
Just applied for Algolia docsearch. Should get a response in a few days. Until then, would we want to disable the search bar?

[2019-02-19 18:52] bvaughn commented on #158
Yeah, thanks Nat! I was hoping that was the case based on [this Stack Overflow post](https://stackoverflow.com/questions/49712714/can-netlify-redirect-traffic-from-http-to-https-without-forcing-ssl/49712715#49712715). Just waiting to see.

This might be good, so long as there's an issue to re-enable later.

[2019-02-19 23:20] carburo commented on #4
I am opening "Babel, JSX, and Build Steps" as it seems to be abandoned. So anyone can claim it now.

[2019-02-19 23:55] loconluis commented on #4
@carburo I can take it.

[2019-02-20 00:11] carburo commented on #4
Ok, @loconluis. You got it. Thank you!

[2019-02-20 06:46] ricardoerl commented on #4
Hi @alejandronanez, I finished the translation for (#78)
Sorry for the delay, Thanks.

[2019-02-20 17:31] sergiodxa commented on #158
I saw the docs are already deployed, but it's not using HTTPS, Netlify should give a SSL cert for free with just a click in the admin panel.

[2019-02-20 19:24] bvaughn commented on #158
HTTPS is also available. It's just not forcefully redirecting. Supposedly this is something we can make Netlify do, I'm just not sure how yet.

[2019-02-21 06:40] carburo commented on #4
We want to know from the current status of the translations carried by @MiguelMadero and @elpopisencio. Let us know, If you cannot carry on with them we can assign them to other contributors.

[2019-02-21 11:11] elpopisencio commented on #4
Hi @carburo. I can't work on this right now. I'm really sorry. Please assign it to someone else.

[2019-02-21 14:15] devrchancay commented on #4
@carburo I can take the issue of *Implementation Notes* that was from @elpopisencio

[2019-02-21 14:36] Darking360 commented on #4
@devrchancay It's yours! 🚀

[2019-02-22 05:53] carburo commented on #4
We want to know from the current status of the translation carried by @jonathanpalma. If you cannot carry on we can assign it to someone else.

[2019-02-23 20:53] MiguelMadero commented on #4
Hi @carburo sorry for the delay. Life is getting in the way of setting time aside for this. I likely won't get to it until next weekend. Please re-assign if needed and I can find other opportunities to contribute later.

[2019-02-23 20:54] alejandronanez commented on #4
Thanks for letting us know @MiguelMadero!

[2019-02-24 02:46] jnosornov commented on #4
Would like to work on  Codebase Overview - up for grabs @alejandronanez @carburo

[2019-02-24 03:13] carburo commented on #4
Ok @jnosornov, you got it. Thank you!

[2019-02-25 04:12] jonathanpalma commented on #4
Hey @carburo, sorry for the delay but here is the translation for Render Props #182

[2019-02-25 17:18] jnosornov commented on #4
Hey guys, DOUBT... lets say we have this url (/docs/reconciliation.html), that points to the English docs, what would be right one for the Spanish docs.

[2019-02-25 17:30] alejandronanez commented on #4
Hey @jnosornov, it should be the same url. We’re leaving permalinks untouched. 👍🏼

Thanks for asking,

[2019-02-26 16:16] jnosornov commented on #4
Hey guys, @carburo @alejandronanez  here is the PR for **Codebase Overview** #186. Check it out and let me know the changes, ill do them ASAP.

[2019-02-28 03:38] jnosornov commented on #4
Hey guys, suggested changes to #186 have been made. Thanks to @icarlossz, @Darking360  for the review, and also @alejandronanez for requesting a review.

[2019-03-01 22:35] marcorichetta commented on #4
Hi!
First of all, congrats everyone on this great job!

I'm looking on the [spanish page](https://es.reactjs.org/) and the navbar item 'Comunidad' it's cut by the search box.

This seems to be because the navbar has the same structure on the 2 pages (**English and Spanish**), but in spanish the words are longer.

![spanish nav](https://user-images.githubusercontent.com/19599150/53670301-0844e700-3

[2019-03-01 22:58] Darking360 commented on #4
Greetings @marcorichetta And yes, I'm seeing that too 🤔 It's because `Docs` being translated to `Documentación`, let's see what we can do.

**CC:** @alejandronanez @carburo @tesseralis

[2019-03-01 23:23] alejandronanez commented on #4
hmmmm interesting - I might be able to take a look at it on Sunday I think cc @darking360 @carburo

[2019-03-01 23:47] tesseralis commented on #4
You can scroll it to see the whole thing but yeah it's not ideal. Some ideas:

* Change "Documentación" to "Docs"
* Make the padding in between the words smaller
* Shift the nav bar to the left like so:

<img width="1276" alt="screen shot 2019-03-01 at 3 47 10 pm" src="https://user-images.githubusercontent.com/1278991/53672878-54802f00-3c39-11e9-9a1b-62e04a3f41e3.png">

The last one is probably th

[2019-03-04 21:15] alejandronanez commented on #4
Hey @carburo @Darking360 @tesseralis, I don't have enough bandwidth this week to address the issue. Please, feel free to jump in!

[2019-03-04 21:20] ivandevp commented on #4
I can help with that fix if you want, let me know if you need any help, please.

[2019-03-04 22:43] DanielGarc commented on #4
Hello I noticed  **🏃 Implementation Notes** and **🏃 Optimizing Performance** are not done yet, is it ok for me to work on either of those?

[2019-03-04 22:53] RamirezAlex commented on #4
Hey @DanielGarc Please take a look at this one and go ahead to continue with it. #191 :)

[2019-03-05 17:38] Darking360 commented on #4
Greetings people, sorry for the delay. So in order:

1.- @ivandevp Please if you could start working on that issue and submit a PR would be awesome! 💪
2.- @DanielGarc Start working on `Optimizing Performance` as @RamirezAlex asked you, so you can finish it, I'll ping the one that has `Implementation Notes` to see if you could address that issue as well, but I'll let you know later.
3.- @devrchanca

[2019-03-06 06:03] devrchancay commented on #4
@Darking360 Hi, it seems that this topic is unlucky, I'm on vacation and I have little internet access, please if you can assign it to someone else.

[2019-03-06 13:48] Darking360 commented on #4
@DanielGarc Greetings, well sir you got yourself another ticket, please start working on `Implementation Notes` too and create a PR when you have it 🚀

@devrchancay Perfect, enjoy your vacations man 🌴 🍸 🥝

[2019-03-06 15:03] marcorichetta commented on #4
Since @devrchancay is on vacation, I could help on `Implementation Notes` or `Optimizing Performance` too.
How do you organize between 2 or more people working on the same article?

[2019-03-06 15:17] DanielGarc commented on #4
@marcorichetta I don't mind if you work on `Implementation Notes` as I haven't started working on it.

**CC**: @Darking360

[2019-03-06 15:58] Darking360 commented on #4
Perfect guys. @marcorichetta you got `Implementation Notes` 🚀

[2019-03-09 15:02] marcorichetta commented on #4
Hey @Darking360 @carburo @alejandronanez @dmoralesm, #196 is ready for review!

Thanks!

[2019-03-11 23:51] tesseralis commented on #4
I updated the issues list so people can pick at the Community and Blog sections -- I also have an [issue here](https://github.com/reactjs/reactjs.org-translation/issues/84) to discuss what's the best way to approach these translations!

(side note it would be super cool if the blog post I made about translations got translated!)

[2019-03-12 00:57] carburo commented on #4
I'll start working on it. I already had it on my TODO list.

[2019-03-12 01:03] alejandronanez commented on #4
@carburo are you opening a new issue like #4 - I guess, right?

Thanks btw!

[2019-03-12 01:30] carburo commented on #4
@alejandronanez, yeah, I think maybe this has become some sort of "meta-issue" and it's too big. What do you think about opening a new issue only for the blog?

[2019-03-12 01:51] tesseralis commented on #4
I’m fine with creating new issues for the blog/community!

[2019-03-12 03:07] RamirezAlex commented on #4
I am back on the game! Sorry I was off last weeks. Can I work on `support`? I can also help reviewing :)

[2019-03-12 07:19] carburo opened #200 "Translating the Comunity Section"
As a first step, we could do straight translations. Additionally, as @tesseralis has pointed out it would be cool if we could also add resources in Spanish. I also opened a [conversation](https://spectrum.chat/react-espanol/traducciones/recursos-disponibles-en-espanol-sobre-react~46a61dff-76ec-4c96-add7-3e2b85434041) on Spectrum for discussing which of those resources would be a good fit.

### Com

[2019-03-12 07:31] carburo opened #201 "Translating the Blog"
Blog posts reflect a moment in time and they are not continually being updated as the docs. Also, many blog posts are simple announcements that have little value after some time.

🚨 **We should favor here latest posts and those containing additional documentation/tips that could serve as a complement to the docs.** 🚨

## For New Translators
Please check out the notes in the general translation iss

[2019-03-12 10:23] RamirezAlex commented on #200
I would like to help with `Support`

[2019-03-12 11:37] alejandronanez commented on #4
Hey @alexramirez, welcome back!

You can claim your issue in #201 :)

[2019-03-12 11:46] mishelashala commented on #201
Hi, I'm working on the translation for `2013-06-12-community-roundup.md` :)

[2019-03-12 13:45] jvelezpo commented on #4
Hello, i am back too 😎
can i work on `Examples`?

[2019-03-13 03:18] jpvg10 commented on #200
I would like to help with `Courses`

[2019-03-17 16:40] alejandronanez commented on #200
@RamirezAlex, @jvelezpo, @jpvg10 - You got them. Thanks! 🎉

[2019-03-17 20:30] tesseralis commented on #4
¡Felicidades!

<img width="340" alt="Screen Shot 2019-03-17 at 1 25 09 PM" src="https://user-images.githubusercontent.com/1278991/54497514-cbaff700-48b8-11e9-8f2b-eacdda621746.png">

[2019-03-20 11:22] RamirezAlex commented on #200
Please review #207 🎉 `Support`

I would like to continue with `Podcasts`

[2019-03-21 17:20] RamirezAlex commented on #200
Please review #209 `Podcasts`

I'd like to continue with `Meetups`

[2019-03-21 23:08] RamirezAlex commented on #200
Please review #210 `Meetups`

I'd like to continue with `Testing`

[2019-03-22 02:15] jpvg10 commented on #200
#211 `Courses` ready for review

[2019-03-22 03:10] RamirezAlex commented on #200
Please review #212 `Testing`

I'd like to continue with `Conferences`

[2019-03-23 02:06] hextiandro commented on #200
I would like to help with Routing

[2019-03-23 02:09] carburo commented on #200
Welcome @hextiandro! You got it.

[2019-03-29 21:41] mact200590 opened #218 "Debugging"

[2019-03-29 21:46] carburo commented on #218
Hi, @mact200590, please request the article you want to translate in the corresponding issue (#200).

[2019-03-29 21:46] #218 closed

[2019-03-29 21:59] mact200590 commented on #200
I would like to continue with Debugging

[2019-03-29 22:00] carburo commented on #200
Ok, @mact200590, you got it. 🚀

[2019-03-30 01:56] OmaritoAtPoly commented on #200
i'd like to colaborate with data fetching

[2019-03-30 03:27] OmaritoAtPoly commented on #200
i wish to continue collaborating with UI Components

[2019-03-30 04:38] carburo commented on #200
Hi, @OmaritoAtPoly. I see you are still working in Data Fetching (you created a Draft Pull Request). Once you are done with it you can take another one.

[2019-03-30 05:14] OmaritoAtPoly commented on #200
I'm ready to obtain a new task.

[2019-04-20 00:56] AlxSavage commented on #201
Hello! Working on translating `2019-02-06-react-v16.8.0.md` 👌

[2019-04-20 02:12] carburo commented on #201
Welcome @AlxSavage! I assigned it to you. Thank you!

[2019-06-17 20:56] gonzarodriguezt commented on #200
I would like to contribute with `External Resources`.

[2019-06-17 21:02] carburo commented on #200
Hi, @gonzarodriguezt! You got it.

[2019-06-17 21:20] RamirezAlex commented on #200
Oh!!! I see I still have `Conferences`, I will send it soonish. Sorry about that.

[2019-07-13 13:33] seraco opened #256 "Wrong translation in https://es.reactjs.org/docs/introducing-jsx.html"
Hey contributors,

After reading the translation of *Introducing JSX* I've noticed that the sentence **"Esto significa que puedes usar JSX dentro de declaraciones if y bucles for, asignarlo a variables, aceptarlo como argumentos, y retornarlo como funciones:"** doesn't reflect the exact meaning it has in English.

In my opinion, it should be: **"Esto significa que puedes usar JSX dentro de declara

[2019-07-17 17:50] carburo commented on #256
Thank you! Yes, the translation doesn't reflect the original meaning. Could you submit a PR? If it is too much of a hassle, don't worry, let me know and I'll take care of it.

[2019-07-17 21:17] seraco commented on #256
I'm gonna do a PR.

[2019-07-19 14:36] #256 closed

[2019-08-20 02:04] carburo opened #273 "Translate Testing and Profiler docs"
The React core docs have been updated with a new Testing Section and a Profiler API article. We'd love to have translations available for these as soon as possible. If you would like to contribute to this effort leave a comment requesting one the articles. For any doubts about the process, you can check out the details in the general translation issue #4.

Here is the list of articles:
- [x] Profi

[2019-08-20 17:45] rootlinux2 commented on #273
I'll be happy to help with Testing Overview translate.

[2019-08-20 17:47] carburo commented on #273
@rootlinux2 You got it! :rocket:

[2019-08-20 18:19] anodarse commented on #273
I will like to help with Profiler API translate

[2019-08-20 18:29] carburo commented on #273
Ok @anodarse, you got it!

[2019-08-21 20:22] rootlinux2 opened #274 "Visual issue in 1920x1024"
I made folk and clone this repository when I run locally there is an issue in the top navbar, the text in the navbar is too large and the last world to the right is truncated by the search box.

I think there are two ways:

There is a media query where is fixed font-size to 18px only changing this to 15px will solve the problem, but maybe the text will be too small.

open the navbar to with 100% a

[2019-08-23 15:27] rootlinux2 commented on #274
![image](https://user-images.githubusercontent.com/24574267/63603962-ab3b4580-c598-11e9-91ad-01a35e73c3cc.png)
Yes, It is `Comunidad` the cut word!
In a few minutes, I'll create a PR.

[2019-08-23 18:15] rootlinux2 commented on #273
I'm here again, this time I'll do Testing Recipes!

[2019-08-23 19:11] Darking360 commented on #273
Well sir @rootlinux2 you got it, go for it 💪

[2019-09-01 21:07] Gerson4G commented on #273
I think this one can be updated (or even closed) @Darking360

[2019-09-02 22:53] carburo commented on #273
Hi @anodarse! How is it going with the translation of the `Profiler API`. Are you still able to finish it? Please, let us know.

[2019-09-04 14:21] ramadis commented on #4
Hey guys, I've just pushed a PR (#281) with a few small fixes in the translation of the `typechecking-with-proptypes` page.

[2019-09-14 05:30] carburo commented on #273
Hi @rootlinux2! Are you still working on `Testing Recipes`? Please, let us know if you are still able to finish it so that otherwise it can be assigned to someone else.

[2019-09-14 18:24] rootlinux2 commented on #273
Hi @carburo, Sorry by the delay, Some unplanned complications have delayed me, by next Friday I can have it ready!

[2019-10-03 06:37] seraco opened #288 "Colours have not been translated"
The colours "orange", "blue", "green", "turquoise" and "red" have not been translated at https://es.reactjs.org/docs/thinking-in-react.html. They are not the name of any component or a technical name, so I believe they should be translated.

[2019-10-03 18:50] #288 closed

[2019-10-04 16:23] elyalvarado commented on #201
Hello! I'm just finished translating the "Introducing New React DevTools" blog article from 2019-08-15, which is the latest article and is not in the list. @carburo @alejandronanez

[2019-10-05 18:13] elyalvarado commented on #201
I'm also working on translating `2019-08-08-react-v16.9.0.md` so that the last 3 posts in the blog get translated

[2019-10-06 01:05] #273 closed

[2019-10-22 03:42] gndx commented on #201
Hi, i'm working on translating  `2018-11-13-react-conf-recap.md`

[2019-10-22 12:28] carburo commented on #201
Hi, @gndx. You got it!

[2019-10-25 18:57] jmmendivil commented on #200
I would like to help with _Component Workbenches_

[2019-10-25 19:03] carburo commented on #200
Welcome, @jmmendivil! You got it!

[2019-10-28 21:27] jmmendivil commented on #200
`Component Workbenches` is ready for review on #311

[2019-10-30 12:33] carburo opened #316 "Concurrent Mode Translation Progress"
The React core docs have been updated with a new Concurrent Mode Section. We'd love to have a translation available as soon as possible. If you would like to contribute to this effort leave a comment claiming one the articles.

Some articles already have a Translation Draft. You could finish your translation based on that. The existing drafts may have missing markup, untranslated terms, inconsiste

[2019-10-31 14:37] cristianbgp commented on #316
I would love to work on `Concurrent Mode API Reference` 😅

[2019-11-01 16:06] cristianbgp commented on #316
@carburo I've already upload a PR. I would like to get some feedback, this is my first time translating documentation 😄

[2019-11-04 14:44] matiasfh commented on #4
I would like to work on blog posts

[2019-11-04 17:54] Darking360 commented on #4
Hey @matiasfh we have an issue for the blog posts here: https://github.com/reactjs/es.reactjs.org/issues/201 🚀

[2019-11-18 20:21] Paynekk commented on #316
I would like to work in `Adopting Concurrent Mode` :smiley:

[2019-11-18 21:07] carburo commented on #316
Hi, @Paynekk, you got it then. Thank you!

[2019-12-12 19:34] #316 closed

[2020-01-06 02:51] remediosaraya commented on #316
hola hay algo en lo que se pueda colaborar?

[2020-01-07 12:45] carburo commented on #316
¡Hola @remediosaraya! Sí, todavía hay mucho por hacer. Puedes revisar los issues abiertos para la traducción de los artículos del blog y la sección de la comunidad (#201 #200). También puedes revisar las traducciones existentes para mejorarlas.

[2020-01-28 21:10] jpmti2016 commented on #200
Hi @carburo, if you need more help with the Spanish translation please let me know. I see that conference, articles and videos would be not translated yet.

[2020-01-28 21:20] carburo commented on #200
Hi @jpmti2016, thank you for reaching out! Yes, we do need help in translating more content. You can take any of the available pages, just let us know in a comment. There is also an open issue (#201) for all the blog posts.

[2020-01-28 22:09] jpmti2016 commented on #200
@carburo  I take articles and videos for now.

[2020-01-28 23:02] carburo commented on #200
@jpmti2016 Great, thanks! They're yours

[2020-01-29 00:47] jpmti2016 commented on #200
@carburo Tengo dudas sobre cuál es el repo sobre el que debo hacer fork y cuál clonar, pues el punto 5 de los prerequisitos apunta a https://github.com/reactjs/reactjs.org.

Ya tengo lista la traduccion de la página de artículos. La hize sobre el repo https://github.com/reactjs/reactjs.org, pero algo me dice que debería trabajar con https://github.com/reactjs/es.reactjs.org (el repo de la traducci

[2020-01-29 01:11] carburo commented on #200
@jpmti2016  Debes hacer el fork al repositorio de la documentación en español: es.reactjs.org. Creas una rama en ese fork y haces el PR desde allí.

[2020-02-01 21:40] jpmti2016 commented on #200
@carburo I made 2 PR para videos and articles respectively

[2020-03-07 15:16] jean182 commented on #200
I will be translating conferences, since I'm not seeing any translation for this and there's no recent comments for translating it.

[2020-03-11 21:01] jean182 commented on #200
Here's the PR for the conferences translation:
https://github.com/reactjs/es.reactjs.org/pull/361

[2020-05-24 16:27] pablomdd commented on #4
Hey guys, just added some minor typo fixes in `rendering-elements` and `components-and-props` in PR #371

[2020-07-27 19:26] condef5 commented on #201
Hi, I would like to translate [this article](https://es.reactjs.org/blog/2020/02/26/react-v16.13.0.html) :)

[2020-07-28 02:42] carburo commented on #201
Hi @condef5! Sure, go for it!

[2020-10-03 16:30] aroundarmor commented on #201
Hi I want to translate react-release-channels.md,
can you assign it to me?

[2020-10-03 16:45] aroundarmor commented on #201
content/docs/release-channels.md can you confirm the document location that needs to be translated?

[2020-10-03 22:34] alejandronanez commented on #201
@aroundarmor, I just assigned it to you. 👍

[2020-10-04 16:28] aroundarmor commented on #201
Hello @alejandronanez , Thanks for assigning me this.
I've raised a PR. Please review it.

[2020-10-04 17:52] alejandronanez commented on #201
@aroundarmor Thanks!!!

It will help us a lot that you link the PR in your comment next time. I reviewed your PR but still needs a lot of work, let's move the conversation over there.

[2020-10-05 16:21] FLiotta commented on #201
Hello, may i translate 2014-09-03-introducing-the-jsx-specification.md? ^^

[2020-10-05 16:26] elyalvarado commented on #201
@alejandronanez, @carburo I'll like to take `2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense.md`

[2020-10-05 17:41] alejandronanez commented on #201
Go for it @elyalvarado!

[2020-10-05 17:43] alejandronanez commented on #201
@FLiotta go for it!

[2020-10-06 16:26] MigueMartelo commented on #201
Hi @alejandronanez , @carburo I'll be working in `2020-09-22-introducing-the-new-jsx-transform.md`

[2020-10-08 15:28] apenab commented on #201
Hacktoberfest tag for this issue plz

#hacktoberfest

[2020-10-08 15:43] apenab commented on #4
I would like work in
Blog>React v16.8

[2020-10-08 16:01] ktowen commented on #201
I would like to translate `2015-12-04-react-js-conf-2016-diversity-scholarship.md`

[2020-10-08 16:10] apenab commented on #201
I would like to translate `2019-02-06-react-v16.8.0.md`

[2020-10-11 03:33] carburo commented on #4
@apenb The open issue for blog posts is #201. I assigned it to you there.

[2020-10-20 17:42] arche4 commented on #201
Hi guys, I would like to translate 2018-11-13-react-conf-recap.md

[2020-10-20 17:44] arche4 commented on #201
Hi guys, I would like to translate  2018-10-01-create-react-app-v2.md

[2020-10-21 03:54] carburo commented on #201
Hi @arche4! I assigned you "React Conf Recap." We usually assign one at a time, so you can claim another one once you have an open PR. Thanks!

[2020-11-17 19:10] FranciscoImanolSuarez commented on #4
I translated the document 2020-10-20-react-v17.md, if nobody else did I would like to open PR

[2020-11-17 20:24] carburo commented on #4
@FranciscoImanolSuarez Sure! We will be glad to receive your PR!
I assign it to you on issue #201, so no one else starts working on it.

[2020-11-18 17:53] FranciscoImanolSuarez commented on #4
@carburo I already sent the PR

[2020-11-27 03:06] Enterprises-Gracida-Veracruz opened #412 "Enterprises-Gracida-Veracruz"
gh repo clone Enterprises-Gracida-Veracruz/react-native
[https://reactnative.dev/blog/2019/06/12/react-native-open-source-update](http://business.google.com/maps/place/enterprises-gracida-veracruz.negocio.site/?hl=es-419)

[2020-11-27 23:33] Enterprises-Gracida-Veracruz opened #413 "React Native · A framework for building native apps using React - Firebase 70"
React Native · A framework for building native apps using React -  Firebase 70 - org.chromium.webapk.a1a24df2461346d0a.apk<developers.google.com_appmaker>https://firebase.tools/project.sdk-enterprises-gracida-veracruz - Firebase C++

[2020-11-27 23:34] Enterprises-Gracida-Veracruz commented on #413
gtm.js <head> project.sdk-enterprises-gracida-veracruz/overview<body>https://reactnative.dev/Enterprises-Gracida-Veracruz.Web.App

[2020-11-27 23:48] Enterprises-Gracida-Veracruz opened #414 "> <!-- DO NOT DELETE"
https://firebase.google.com/docs/adwords/

_Publicado originalmente por @Enterprises-Gracida-Veracruz en https://github.com/firebase/quickstart-cpp/issues/87#issuecomment-735012834_

[2020-11-28 02:13] #412 closed

[2020-11-28 02:13] #413 closed

[2020-11-28 02:14] #414 closed

[2020-12-07 04:13] FLiotta commented on #201
Hello, may i take 2013-06-21-react-v0-3-3.md?

[2020-12-07 04:21] carburo commented on #201
Hi @FLiotta! Yes, go for it!

[2021-01-30 17:34] pedabraham commented on #201
Hi, I would like to translate `2020-12-21-data-fetching-with-react-server-components.md`

[2021-01-31 19:37] alejandronanez commented on #201
Go for it @pedabraham 🙌

[2021-02-18 23:28] pedabraham commented on #201
Hi @carburo, I sent the PR #426 with the translation of `2020-12-21-data-fetching-with-react-server-components.md`

[2021-03-16 13:34] OliverPradaLara opened #438 "Hi @OliverPradaLara! Thank you for your contribution. As a general rule, we don't accept submissions for new content, only translations. Could you open this PR to the [upstream repo](https://github.com/reactjs/reactjs.org) so all translations benefit from this addition?"
Hi @OliverPradaLara! Thank you for your contribution. As a general rule, we don't accept submissions for new content, only translations. Could you open this PR to the [upstream repo](https://github.com/reactjs/reactjs.org) so all translations benefit from this addition?

_Originally posted by @carburo in https://github.com/reactjs/es.reactjs.org/issues/437#issuecomment-800225445_

[2021-03-16 13:39] OliverPradaLara opened #439 "Santiago-Chile meetup addition rejected"
Greetings community, I have the following query: why can't I add my meetup group to the react community? On the react.org page it says that if I have a meetup group from my country I can add it but when I tried to do it it was rejected .

[2021-03-16 16:58] carburo commented on #439
@OliverPradaLara No creo que haya ningún inconveniente en añadir este _meetup_. Sin embargo, este no es el repositorio original de la traducción de React, sino de su traducción oficial al español. Para añadir un contenido nuevo como este debe hacerse en el repositorio de la documentación en inglés https://github.com/reactjs/reactjs.org. Una vez que se apruebe allí, los cambios se mezclarán en toda

[2021-03-16 16:58] carburo commented on #438
Duplicate of #439

[2021-03-16 16:58] #438 closed

[2021-03-21 14:18] d4vsanchez commented on #200
Is the conferences translation made by #361 not deployed? Looking at https://es.reactjs.org/community/conferences.html I noticed that the website is still in English.

[2021-03-22 10:03] maogongzi opened #440 "Typo"
In markdown `es.reactjs.org/content/docs/reference-react-component.md`, **re utilización** would be better spelled as **reutilización**, original text:

[2021-03-22 14:14] carburo commented on #440
Sí, completamente de acuerdo. ¿Desearía hacer el _pull request_ con el cambio?

[2021-03-23 02:54] maogongzi commented on #440
Por supuesto :)

[2021-03-23 13:37] #440 closed

[2021-03-24 00:39] #439 closed

[2021-03-25 07:45] carburo commented on #200
@d4vsanchez No, nunca llegó a mezclarse. Casi de forma inmediata tuvo conflictos con la rama principal. Esta página se actualiza con relativa  regularidad y el contenido traducible se limita sobre todo a las fechas. El problema no es traducirla, sino el costo de mantenerla actualizada. A menos que la solución incluya un proceso al menos semiautomático no creo que los beneficios superen los costos.

[2021-04-07 20:45] GaboCuba opened #447 "Spelling error in documentation (language: Spanish)"
In the link:
https://es.reactjs.org/docs/hooks-reference.html#useref

The accent is missing in the word: "código".

Where it says: ... "Si quieres correr algún codigo cuando React agregue"...
I should say: ..."Si quieres correr algún código cuando React agregue"...

Greetings

PS: I already opened this issue on another page, but was recommended to open it here.
(https://github.com/reactjs/reactjs.

[2021-04-08 00:44] carburo commented on #447
Hola, @GaboCuba: Perdona la confusión, este es el repositorio adecuado. Muchas gracias por detectar el error. Para referencias futuras, sí así lo deseara, los _pull requests_ que corrigen estos errores son bienvenidos, en cuyo caso no es necesario abrir un _issue_ previamente.

[2021-04-08 00:46] #447 closed

[2021-04-24 16:18] GaboCuba opened #452 "Typo error in Context Page (https://es.reactjs.org/docs/context.html)"
Donde dice: "Al usare este componente"...

[2021-04-24 18:58] carburo commented on #452
Thanks fo the report! The fix should be live soon.

[2021-04-24 18:58] #452 closed

[2021-06-08 22:09] cristianbgp commented on #201
Hi @carburo I have the translation of the new blog post about React 18 `2021-06-08-the-plan-for-react-18.md` on #461

[2021-07-09 08:33] maogongzi opened #468 "Tal vez un typo en "no solo ... si no""
Hola!  en el documento: https://github.com/reactjs/es.reactjs.org/blob/master/content/docs/testing-environments.md
tal vez es mejor escribir "**sino**" en vez de "**si no**" en el ultimo oración?

[2021-07-09 13:35] #468 closed

[2021-07-09 13:35] carburo commented on #468
¡Hola! Muchas gracias por hacernos notar el error.

[2021-07-09 22:25] EvanErickson commented on #4
What issues are still open? The one's that haven't been checked off? I'm willing to translate a few pages.

[2021-10-01 09:28] Carababusha commented on #201
Hi @carburo, @alejandronanez and everybody. I can help with translating some of this as my first issue, which of the files that haven't been translated yet would you need translated first?

[2021-10-01 22:05] Carababusha commented on #201
¡Hola @carburo! Genial. Si viene bien, puedo ponerme manos a la obra con el artículo del blog 2020-12-21-data-fetching-with-react-server-components.md, que es el más reciente que queda por traducir.

[2021-10-01 22:55] pedabraham commented on #201
Hola @Carababusha tengo un pr abierto (#426 ) con esa traducción, tal vez la podrías revisar y notar algún error que haya tenido.

[2021-10-01 23:02] Carababusha commented on #201
¡Hola @pedabraham! Pues si sirve de ayuda me pongo con ello ☺️

[2021-10-02 20:58] Carababusha commented on #201
¡Hola de nuevo @pedabraham! Le he echado un vistazo a tu PR y he dejado algunos comentarios con sugerencias. ¡Espero que te parezcan útiles!

[2021-10-03 13:49] #200 closed

[2021-10-05 13:42] pmarcano2 opened #484 "test"

[2021-10-13 00:23] joelcmk commented on #201
Hi, can I translate 2017-05-18-whats-new-in-create-react-app.md ?

[2021-11-10 18:04] pmirandaarias commented on #4
I would like to edit https://github.com/reactjs/es.reactjs.org/blob/main/content/community/team.md it has spanish a typo

[2021-11-19 13:21] inesCDinvest opened #489 "lolo"

[2021-11-19 13:38] #489 closed

[2022-01-26 06:54] maogongzi opened #495 "Typo in content/docs/lists-and-keys.md ?"
Hi! While I'm reading [the part](https://es.reactjs.org/docs/lists-and-keys.html#embedding-map-in-jsx) in the screenshot below, I'm a little bit confused, instead of using "arriba", perhaps it should be "abajo" ?

![Screen Shot 2022-01-26 at 14 39 35](https://user-images.githubusercontent.com/1438835/151116589-2ea02290-5393-4a46-ad5d-0f94c06d42df.png)

[2022-01-26 09:57] maogongzi opened #496 "Typo in content/docs/thinking-in-react.md ?"
Hi! I'm not sure if it's a typo [here](https://es.reactjs.org/docs/thinking-in-react.html#step-4-identify-where-your-state-should-live) in the screenshot:

![Screen Shot 2022-01-26 at 17 42 28](https://user-images.githubusercontent.com/1438835/151141296-4d604556-0765-4e1f-8b2f-1c2bb58facc1.png)

when I refer to the original text, it reads:

And here we can see that the original verb is "find", not

[2022-02-15 23:26] habarahonaa commented on #496
yes:) seems like a typo here!

[2022-02-22 14:44] carburo commented on #496
Perdona la respuesta tardía. Sí, definitivamente es una errata. Muchas gracias por el reporte, ya está solucionado.

[2022-02-22 14:44] #496 closed

[2022-02-22 14:55] carburo commented on #495
Hola @maogongzi! Gracias por el reporte. En este caso la traducción es correcta, se refiere a los ejemplos anteriores en los que ya se declaraba `listItems` con la misma intención, solo que abajo se vuelve a mostrar para recordarlo. Cualquier reporte sobre la claridad del texto que no involucre la traducción es preferible hacerlo en el [repositorio original en inglés](https://github.com/reactjs/re

[2022-02-22 14:55] #495 closed

[2022-02-22 15:17] carburo opened #500 "New Translation Progress Checklist"
Recientemente se ha publicado la nueva documentación de React:

* [New React Docs #3308](https://github.com/reactjs/react.dev/issues/3308)
* https://react.dev/

Este es el sitio que aloja la traducción: https://es.react.dev

## Mantenedores

* @carburo
* @mateoguzmana
* @NGHdeveloper

## Para traductores nuevos

Para traducir una página:

1. Chequea que nadie más haya pedido la página en la lista

[2022-03-22 07:19] maogongzi opened #503 "Possibly a typo"
In the following paragraph, perhaps **entrad** should be spelled as **entrada**?

file location: [content/docs/reference-events.md](https://github.com/reactjs/es.reactjs.org/blob/main/content/docs/reference-events.md#onfocus-onfocus)

[2022-03-22 10:51] #503 closed

[2022-04-11 18:55] MarianoLazzos commented on #500
Hi, i would like to help translating some page!

[2022-04-11 18:58] carburo commented on #500
¡Hola, @MarianoLazzos! Deja un comentario con la página que te interesa traducir para asígnartela.

[2022-04-12 00:44] MarianoLazzos commented on #500
Me gustaria traducir: Writing Markup with JSX

[2022-04-12 00:57] carburo commented on #500
@MarianoLazzos ya te lo asigné. Si no has contribuido antes te recomiendo que revises primero la guía de traducción (https://github.com/reactjs/es.reactjs.org/blob/main/TRANSLATION.md), que aunque no está muy completa aborda algunas situaciones comunes. Si tuvieras alguna duda con el proceso, ¡no dudes dejar un comentario!

[2022-05-10 02:33] MarianoLazzos commented on #500
Hola! me gustaria colaborar traduciendo otra pagina, me podrias asignar JavaScript in JSX with Curly Braces ?

[2022-05-10 22:51] carburo commented on #500
@MarianoLazzos ¡Sí, por supuesto!

[2022-08-16 08:03] tw1ttt3r commented on #500
Me gustaría colaborar con  Passing Props to a Component

[2022-08-21 10:10] miguelfdezc commented on #500
¡Hola! Me gustaría colaborar traduciendo una página, ¿@carburo me podrías asignar `Conditional Rendering`? 🙂

[2022-08-21 13:52] carburo commented on #500
@tw1ttt3r @miguelfdezc ya les asigné los artículos

[2022-10-02 22:49] JeronimoC23 commented on #500
Hola, como va me gustaria colaborar con Adding Interactivity, gracias!

[2022-10-03 11:18] carburo commented on #500
¡Hola, @JeronimoC23! Ya te asigné el artículo.

[2022-10-03 11:34] Oussamaosman02 commented on #500
Hola, me gustaría ayudar a traducir algún artículo

[2022-10-03 11:56] carburo commented on #500
¡Hola @Oussamaosman02! Gracias por tu interés por contribuir. Escoge uno de los artículos listados y te lo asigno.

[2022-10-03 15:14] Oussamaosman02 commented on #500
@carburo ¿Me podrías asignar Rendering Lists?

[2022-10-03 15:17] carburo commented on #500
@Oussamaosman02 ya te lo asigné.

[2022-10-03 20:49] MigueMartelo commented on #500
@carburo hola, podrías asignarme `Keeping Components Pure`?

[2022-10-03 21:16] ikurotime commented on #500
Hola @carburo, me gustaria traducir `Reacting to Input with State` !

[2022-10-03 21:41] MigueMartelo commented on #500
@carburo @alejandronanez si se puede tener varias al tiempo, asignadas, me gustaría también tomar `Render and Commit. Gracias.

[2022-10-03 22:10] samarjaffal commented on #500
Hola @carburo a mi también me gustaría apoyar con la traducción de esta página: State: A Component's Memory

[2022-10-03 22:19] MaximilianoCabreraP commented on #500
Hola @carburo que tal? Me gustaria poder ayudar traduciendo esta página: Sharing State Between Components
Saludos!

[2022-10-03 22:37] Waxer59 commented on #500
Hola @carburo, podrias asignarme **State as a Snapshot**?

[2022-10-03 22:57] johansantana commented on #500
@carburo, podrías asignarme _**Responding to Events**_?

[2022-10-04 02:57] CamiloCortesM commented on #500
hola me gustaría aportar en alguna traducción ¿me podrías asignar alguna?

[2022-10-04 09:56] carburo commented on #500
Hola, @MigueMartelo, @samarjaffal @MaximilianoCabreraP, @Waxer59 @johansantana @CamiloCortesM. Ya les asigné los artículos.

[2022-10-04 10:01] ikurotime commented on #500
Hola de nuevo @carburo, como he indicado, también me gustaría contribuir, ¿hay algún motivo por el que no haya sido asignado una sección?

[2022-10-04 10:20] carburo commented on #500
Hola, @ikurotime, disculpa, fue un error de mi parte. Te asigno el artículo que solicitaste.

[2022-10-04 16:06] diloes commented on #500
Buenas. @carburo me haría mucha ilusión contribuir traduciendo la página: Managing State

[2022-10-04 16:42] carburo commented on #500
Hola @diloes. ¡Gracias por tu interés en contribuir! Ya te asigné la página.

[2022-10-04 17:29] Alanch8 commented on #500
Buenas @carburo, me gustaría traducir "Queueing a Series of State Updates" si fuese posible. Muchas gracias!

[2022-10-04 18:54] josavicente commented on #500
Hola! @carburo puedes asignarme la traducción de: "Preserving and Resetting State"Gracias! Si está solicitada, puedes asignarme otra :)

[2022-10-04 19:34] carburo commented on #500
Hola @josavicente. Ya te asigné la página.

[2022-10-05 01:14] sunteago commented on #500
Hola @carburo, me gustaria colaborar en la traduccion de "Extracting State Logic into a Reducer", si ya esta elegida puede ser otra tambien :)

[2022-10-05 01:55] santimendoza commented on #500
I would like `Choosing the State Structure` assigned to me

[2022-10-05 02:47] carburo commented on #500
Hola @sunteago, @santimendoza. Ya les asigné las páginas.

[2022-10-06 13:34] josavicente commented on #500
Me puedes asignar Scaling Up with Reducer and Context mientras se aprueba la PR de la anterior traducción?

[2022-10-06 14:56] Pacocc97 commented on #500
Hola! me gustaría traducir algún artículo que haga falta ..

[2022-10-06 15:01] carburo commented on #500
¡Hola, @Pacocc97! Gracias por tu interés en colaborar. Te asigné la página «Passing Data Deeply with Context».

[2022-10-06 15:51] carburo commented on #500
Hello @tw1ttt3r. ¿Aún continúas trabajando en el artículo «Passing Props to a Component»? Haznos saber si no has podido continuar para asignarlo a otra persona.

[2022-10-06 17:34] Alanch8 commented on #500
Hola @carbur, ¿Podrías asignarme algúna página más mientras se aprueba la PR de mi traducción anterior? Muchas gracias!

[2022-10-06 18:00] carburo commented on #500
@Alanch8 te asigné «Updating Objects in State»

[2022-10-06 21:50] Nicolas-alt commented on #500
¡Hola! @carburo, ¿Podrías asignarme algúna página? Muchas gracias!

[2022-10-06 22:04] carburo commented on #500
@Nicolas-alt ya tienes «Updating Arrays in State».

[2022-10-06 23:07] Alcondez commented on #500
Hola @carburo , creo que no queda ninguna disponible pero me gustaría contribuir, ¿Podrías asignarme alguna página si se puede? Muchas gracias.

[2022-10-07 00:11] tw1ttt3r commented on #500
Hola @carburo una disculpa no he tenido la oportunidad de continuar asignala a alguien más

[2022-10-07 02:30] Nicolas-alt commented on #500
Hola @carburo ¿Existe la posibilidad de que pueda traducir el [home](https://beta.es.reactjs.org/)?

[2022-10-07 06:27] maoacr commented on #500
Hola @carburo !, me gustaría participar haciendo la traducción de la página de useState ! 🤘

[2022-10-07 12:53] carburo commented on #500
¡Hola!
@Alcondez te asigné «Passing Props to a Component»
@maoacr ya te asigné la página de de useState
@Nicolas-alt el contenido de la página principal se espera que aún cambie antes de que se termine todo el sitio, y eso significaría volver a hacer el trabajo de traducción, por eso es preferible traducir las páginas que ya han sido finalizadas.

[2022-10-07 14:02] Nicolas-alt commented on #500
Hola @carburo , entiendo, en ese caso ¿Podría seguir con "createContext" mientras mi PR se revisa?

[2022-10-07 15:20] johansantana commented on #500
Hola @carburo, ¿podrías asignarme también "Referencing Values with Refs"?

[2022-10-07 15:23] carburo commented on #500
@Nicolas-alt, @johansantana ya les asigné las páginas.

[2022-10-08 03:03] MigueMartelo commented on #500
Hola @carburo por fa, puedes asignarme `createElement`?

[2022-10-08 06:52] Thxmxs commented on #500
Hola @carburo ¿ me podrías asignar "Manipulating the DOM with Refs" ?

[2022-10-10 05:55] carburo commented on #500
@MigueMartelo, @Thxmxs ya les asigné las páginas.

[2022-10-10 07:03] Waxer59 commented on #500
Hola @carburo podrias asignarme "Fragment"?

[2022-10-10 14:34] johansantana commented on #500
@carburo me podrías asignar "useState"?

[2022-10-10 15:15] carburo commented on #500
@Waxer59, @johansantana ya les asigné las páginas.

[2022-10-10 17:30] carburo commented on #500
Hola @fabianchoxD. Ya te lo asigné

[2022-10-11 09:53] Alanch8 commented on #500
Hola @carburo, ¿Podrías asignarme algúna página más mientras se aprueba la PR de mis traducciones anteriores? Muchas gracias!

[2022-10-11 17:33] CamiloCortesM commented on #500
Hola ¿me puedes asignar UseRef?

[2022-10-11 17:35] DANIELSSF commented on #500
Hola, ¿Me puedes asignar el useEffect?

[2022-10-12 16:20] Alanch8 commented on #500
Hola @carburo, ¿Podrías asignarme algúna página más mientras se aprueba la PR de mis traducciones anteriores? Muchas gracias!

[2022-10-12 16:37] carburo commented on #500
Hola @Alanch8. Te asigné «forwardRef»

[2022-10-12 17:57] Isaias077 commented on #500
Hola @carburo, ¿Me puedes asignar la página de «useId»?

[2022-10-12 18:20] carburo commented on #500
¡Hola @Isaias077! Ya te asigné el artículo.

[2022-10-12 21:50] ederivc commented on #500
¡Hola! @carburo , ¿Podrías asignarme la página de useReducer?

[2022-10-12 21:57] carburo commented on #500
¡Hola @ederivc! Ya te la he asignado.

[2022-10-13 02:08] OmiCoding commented on #500
¡Hola! @carburo , ¿Podrías asignarme la página de createRoot? Yo, @Asalz20, y @20jasper vamos a traducir la página juntos.

[2022-10-13 02:11] carburo commented on #500
Hola @OmiCoding. Ya la tienes asignada.

[2022-10-13 14:36] cjosue15 commented on #500
Hola @carburo, me gustaría colaborar con la traducción de "isValidElement" en la sección de APIs de React.

[2022-10-13 14:40] carburo commented on #500
Hola @cjosue15. Ya te lo asigné.

[2022-10-13 14:54] Nicolas-alt commented on #500
Hola @carburo  ¿Podría continuar con "useMemo"?

[2022-10-13 15:02] carburo commented on #500
@Nicolas-alt Sí, por supuesto, ya te lo he asignado.

[2022-10-13 17:22] johansantana commented on #500
@carburo Me podrías asignar "memo"?

[2022-10-13 17:31] carburo commented on #500
@johansantana Ya te asigné la página.

[2022-10-15 05:18] Feli87 commented on #500
@carburo Hola me podrían asignar  "Synchronizing with Effects", saludos.

[2022-10-15 15:32] MigueMartelo commented on #500
@carburo porfa asígname [lazy](https://beta.es.reactjs.org/apis/react/lazy)

[2022-10-15 18:59] josavicente commented on #500
Hola @carburo Puedes asignarme la página Lazy de la sección API? Gracias!

[2022-10-16 00:28] Vicenciomf1 commented on #500
Hola @carburo! Podrías asignarme "You Might Not Need an Effect" por favor? Ten una buena semana!

[2022-10-16 17:38] carburo commented on #500
@Feli87, @MigueMartelo, @josavicente, @Vicenciomf1 ya tienen asignadas las páginas que solicitaron.

[2022-10-16 22:13] Vicenciomf1 commented on #500
Gracias @carburo!

[2022-10-17 14:43] AvatarIntel opened #582 "useEffect"

[2022-10-17 17:08] cjosue15 commented on #500
@carburo algo mas en lo que pueda ayudar?

[2022-10-17 19:57] #582 closed

[2022-10-18 05:14] CamiloCortesM commented on #500
hola carburo te puedo ayudar con hydrateRoot, ¿me lo puedes asignar?

[2022-10-18 05:34] DANIELSSF commented on #500
Hola @carburo me puedes asignar hydrate

[2022-10-18 17:09] CamiloCortesM commented on #500
@carburo ¿si me puedes asignar hydrateRoot?

[2022-10-18 17:13] carburo commented on #500
@DANIELSSF, @CamiloCortesM ya tienen asignados los artículos.

[2022-10-19 00:55] Germancitoz commented on #500
Hola. me gustaria colaborar con la seccion de **flushSync**.

[2022-10-20 05:47] glovooker commented on #500
Hola @carburo me gustaría colaborar con la página de **Lifecycle of Reactive Effects**

[2022-10-20 05:50] glovooker commented on #500
Hola @carburo me gustaría colaborar con el **useCallback**

[2022-10-20 05:59] W00DS0UL commented on #500
Hola @carburo me gustaría colaborar con el **Separating Events from Effects**

[2022-10-20 06:17] Saturnxs commented on #500
Hola @carburo ! Me gustaría colaborar con **useImperativeHandle**

[2022-10-20 19:52] carburo commented on #500
@glovooker, @W00DS0UL, @Saturnxs ya tienen las páginas asignadas.

[2022-10-26 16:48] jonarroh commented on #500
Hola @carburo me gustaría colaborar con Children me puedes agregar?

[2022-10-26 16:56] carburo commented on #500
¡Hola @jonarroh! Ya te lo he asignado.

[2022-10-28 00:01] andresguanov commented on #500
Hola, @carburo. Me gustaría colaborar con Reusing Logic with Custom Hooks.

[2022-10-28 00:04] bcentdev commented on #500
Buenas @carburo. Me gustaría colaborar con cloneElements.

[2022-10-28 00:08] carburo commented on #500
¡Hola, @andresguanov y @bcentdev! Ya les asigné las páginas.

[2022-10-30 18:35] bcentdev commented on #500
Buenas @carburo. Acabo de abrir un PR de la que tenía asignada. Me gustaría que me asignaras **Lifecycle of Reactive Effects**.

Tiene pinta que es más larga y me voy a entretener 🤣

[2022-10-30 20:09] robertopuentesdiaz commented on #500
Cual es la URL de esta nueva Doc en español, hoy?

[2022-10-30 21:51] carburo commented on #500
@bcentdev Ya te asigné la página.

[2022-10-30 21:53] carburo commented on #500
@robertopuentesdiaz La nueva documentación está disponible en https://beta.es.reactjs.org

[2022-11-07 23:07] wwiiddeeweb commented on #500
hola @carburo ! me asignarías useLayoutEffect para poder colaborar? saludos!

[2022-11-08 00:17] carburo commented on #500
¡Hola, @juancguana! ¡Gracias por tu interés en contribuir! Si deseas ayudar con una traducción escoge una de las páginas que aún no estén tomados y solicítala aquí para asignártela.

[2022-11-08 00:40] Claudio182 commented on #500
Hola, @carburo Me gustaria colaborar con Reacting to Input with State. Gracias

[2022-11-08 00:45] carburo commented on #500
¡Hola, @Claudio182! Lamentablemente esa página ya está asignada. ¿Te interesaría traducir «React DOM Client APIs» u otra que aún no esté asignada?

[2022-11-08 01:06] Claudio182 commented on #500
@carburo  puede ser Sharing State Between Components?

[2022-11-08 01:08] carburo commented on #500
@Alcondez, @ikurotime, @JeronimoC23, @santimendoza, @MaximilianoCabreraP, @Pacocc97, @Thxmxs, @Feli87, @ederivc, @maoacr:  Are you still working on your translations? Please, let us know if you cannot carry on with them, and we can assign them to other contributors.

[2022-11-08 01:11] carburo commented on #500
Ya está asignada. Las páginas asigndas tienen señaladas el nombre del usuario que está haciendo la traducción. Les he pedido una actualización a los usuarios que llevan más de tres semanas con una traducción para poder liberarlas si ya no están trabajando en ellas. Si deseas puedes esperar a que se liberen algunas de esas páginas.

[2022-11-08 01:41] Claudio182 commented on #500
Oki @carburo, esperaré por la respuesta de los usuarios mencionados para colaborar, estaré atento.

[2022-11-10 10:59] carburo commented on #500
@Claudio182 He liberado varias páginas. ¿Aún te interesa «Reacting to Input with State»?

[2022-11-10 11:03] carburo commented on #500
@ikurotime Thanks for leetting us know!

[2022-11-10 13:40] carburo commented on #500
@Alcondez ¡Gracias por avisarnos!

[2022-11-11 08:29] JaimeTR commented on #500
Hola @carburo me podría asignar esta pagina Manipulating the DOM with Refs ?

[2022-11-11 16:16] Valtory commented on #500
Hola! Me gustaria colaborar! con useState y use Reducer

[2022-11-11 16:24] carburo commented on #500
@JaimeTR Ya te asigné Manipulating the DOM with Refs
@ErikGIovani Ambas ya están asignadas, ¿podrías escoger otra?
@Valtory Te asigné useState, al terminar y publicar el PR puedes escoger otro artículo.

[2022-11-11 16:28] ErikGIovani commented on #500
@carburo la de **Passing Data Deeply with Context**

[2022-11-11 17:16] carburo commented on #500
@ErikGIovani Done!

[2022-11-11 22:41] Claudio182 commented on #500
Hola @carburo si, aun me interesa  «Sharing State Between Components», gracias

[2022-11-11 22:43] carburo commented on #500
Hola @Claudio182. Ya te la he asignado. ¡Muchas gracias!

[2022-11-11 22:45] glovooker commented on #500
@carburo ya terminé de traducir useCallback, está todo en la PR

[2022-11-11 23:13] carburo commented on #500
¡Hola, @glovooker! Sí, estamos al tanto y lo revisaremos. Disculpa la demora, estamos atendiendo los PRs en el orden que llegan y han sido muchos en el último mes.

[2022-11-14 21:33] juancguana commented on #500
Si, @carburo  Me gustaria traducir useReducer

[2022-11-14 21:37] carburo commented on #500
@juancguana Ya te la asigné

[2022-11-15 12:27] Radapls commented on #500
Hola @carburo me gastaría apoyar con el apartado de «Choosing the State Structure».

[2022-11-15 13:34] carburo commented on #500
Hola @Radapls! Ya te lo asigné.

[2022-11-18 18:30] Valtory commented on #500
hola! disculpa, intento pushear mi rama pero me arroja error de permisos y
no logro concretar para avanzar con el PR.

El vie, 11 nov 2022 a las 13:24, Rainer Martínez Fraga (<
***@***.***>) escribió:

[2022-11-19 01:38] Vicenciomf1 commented on #500
¡Hola @Valtory! Revisé tus repos y creo que probablemente sea porque no has hecho aún un fork del repositorio ¿podrías revisar por favor? Puedes ver [aquí](https://github.com/reactjs/es.reactjs.org#getting-started) los requisitos para contribuir, y [aquí](https://github.com/reactjs/es.reactjs.org#contributing) un pequeño tutorial. Si necesitas ayuda, o tienes cualquier pregunta, no dudes en escrib

[2022-11-19 02:03] Valtory commented on #500
hola! buenas noches, gracias! efectivamente me falta hacer el paso del
fork, luego clone y pude seguir con el proceso.
ya tengo listo mi PR
https://github.com/reactjs/es.reactjs.org/pull/604

muchas gracias por permitirme participar, quedo atenta a lo que necesiten
(si quieren asignarme otro mas jaja) abrazo!

El vie, 18 nov 2022 a las 22:38, Vicente Martínez Fernández (<
***@***.***>) escribió:

[2022-11-20 14:33] Claudio182 commented on #500
Hola @carburo, envie ya el pull request de Sharing State Between Components. Prodria ser asignado a  Synchronizing with Effects, mientras espero, o debo cerrar el proceso? Gracias.

[2022-11-20 15:53] carburo commented on #500
@Claudio182 Ya te asigné la nueva página.

[2022-11-21 03:41] Valtory commented on #500
Hola @carburo, ya envie el PR, y quedo atenta a una nueva asignacion del checklist :)  abrazo!

[2022-11-22 14:29] carburo commented on #500
¡Hola, @Valtory! ¡Muchas gracias por la contribución! ¿Te gustaría continuar con la página de referencia de `Component`?

[2022-11-22 17:12] Radapls commented on #500
Hola @carburo, ya subí el PR para el apartado de "Choosing the state structure". Quedo atento si puedo contribuir en algún otro apartado. ¡Saludos!

[2022-11-22 17:47] carburo commented on #500
Hola @Radapls! ¡Gracias por tu interés en contribuir!
Hay nuevas páginas disponibles:
- PureComponent
- createRef
- useDebugValue
Si deseas traducir alguna deja el comentario para asignártela.

[2022-11-22 18:11] Radapls commented on #500
Perfecto. Entonces quisiera continuar con "PureComponent"

[2022-11-22 18:24] Valtory commented on #500
dale! ahora mismo la tomo. :)

[2022-11-22 20:09] JaimeTR commented on #500
Hola @carburo ya envié el RP de "Manipulating the DOM with Refs",   cualquier cambio o corrección que quiera que haga me informa, y si hay otra página disponible puede asignarme también.

[2022-11-22 21:16] carburo commented on #500
@Valtory, @Radapls ya les asigné los artículos. @JaimeTR ¿Te interesa tomar la página de referencia de `createRef`?

[2022-11-22 21:21] JaimeTR commented on #500
Claro, estaría bien me asigna esa página 😊

[2022-11-22 21:29] carburo commented on #500
@JaimeTR Hecho

[2022-11-24 02:56] luiserdef commented on #500
Que tal! me gustaría colaborar, veo que la pagina useDebugValue está disponible, si esto es cierto podria trabajar en ella.

[2022-11-24 04:29] carburo commented on #500
¡Hola, @luiserdef! Sí, está disponible. Ya te la asigné.

[2022-11-26 04:57] carburo commented on #500
¡Hola, @W00DS0UL, @Saturnxs! ¿Aún se encuentran trabajando en las traducciones? Por favor hágannos saber si han podido o no continuar haciéndolo. Así podremos liberar los artículos en los que ya no se está trabajando y asignárselos a alguien más.